<article class="item {{@profile.selector}}">
  <div class="background bg-white">
    <div class="image">
      <LinkTo @route="perfil" @models={{array this.modelName @profile.id}}>
        <img alt={{@profile.name}} src={{@profile.photo}}>
      </LinkTo>
    </div>
    <div class="text">
      <div class="text-name">
        <LinkTo @route="perfil" @models={{array this.modelName @profile.id}}>
          <h6>{{@profile.name}}{{@profile.nombre}}</h6>
        </LinkTo>
      </div>
      <h6 class="font-weight-light">{{@profile.electionName}}</h6>
    </div>
  </div>
</article>
