<div class="card px-0 {{@profile.selector}}">
  <div class="img-wrapper">
    <img alt={{@profile.name}} src={{@profile.photo}} class="card-img-top">
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">{{@profile.name}}{{@profile.nombre}}</h5>
    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque est veniam ex, fuga ab velit.</p>
    <LinkTo @route="perfil" @models={{array this.modelName @profile.id}} class="btn btn-primary">
      Más información
    </LinkTo>
  </div>
</div>