{{!-- Redes sociales en (xs, sm) --}}
<div class="d-block d-md-none text-right">
  <ShareTwitter />
  <ShareFacebook />
</div>
<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="bg-white">
      <ol class="breadcrumb bg-white rounded shadow-sm">
        <LinkTo @route="index" class="breadcrumb-item">
          Inicio
        </LinkTo>
        {{#each breadcrumbs as |breadcrumb|}}
          <LinkTo @route={{breadcrumb.route}} @models={{breadcrumb.model}} class="breadcrumb-item">
            {{breadcrumb.text}}
          </LinkTo>
        {{/each}}
        <li class="breadcrumb-item active" aria-current="page">{{@model.profile.nombre}}</li>
      </ol>
    </nav>
  </div>
</div>
{{!-- 'Navbar' para perfiles --}}
<div class="row my-2">
  <div class="col-12 p-0 border shadow-sm bg-white rounded">
    <BsNav
      @type="pills"
      @justified={{false}}
      @stacked={{false}}
      @fill={{false}}
    as |nav|>
      {{#each links as |link|}}
        <nav.item>
          <nav.link-to @route={{link.route}} @disabled={{link.disabled}} class="p-0">
            {{#if link.img}}
              <img src={{link.img}} alt={{link.text}} height="25px" class="img-white">
            {{/if}}
            {{link.text}}
          </nav.link-to>
        </nav.item>
      {{/each}}
      <nav.item class="ml-auto p-3 d-none d-md-flex">
        <ShareTwitter />
        <ShareFacebook />
      </nav.item>
    </BsNav>
  </div>
</div>
