{{!-- Redes sociales en (xs, sm) --}}
<div class="d-block d-md-none text-right">
  <ShareTwitter />
  <ShareFacebook />
</div>
{{!-- 'Navbar' para perfiles --}}
<div class="row my-2">
  <div class="col-12 p-0 border shadow-sm bg-white rounded">
    <BsNav
      @type="pills"
      @justified={{false}}
      @stacked={{false}}
      @fill={{false}}
    as |nav|>
      {{#each links as |link|}}
        <nav.item @linkTo={{link.route}} @disabled={{link.disabled}} class="p-0">
          {{#if link.img}}
            <img src="{{link.img}}" alt="{{link.text}}" height="25px" class="img-white">
          {{/if}}
          {{link.text}}
        </nav.item>
      {{/each}}
      <nav.item class="ml-auto p-3 d-flex">
        <ShareTwitter />
        <ShareFacebook />
      </nav.item>
    </BsNav>
  </div>
</div>
