{{!-- Redes sociales en (xs, sm) --}}
<div class="d-block d-md-none text-right">
  {{share-twitter}}
  {{share-facebook}}
</div>
{{!-- 'Navbar' para perfiles --}}
<div class="row my-2">
  <div class="col-12 p-0 border shadow bg-white rounded">
    <BsNav
      @type="pills"
      @justified={{false}}
      @stacked={{false}}
      @fill={{false}}
    as |nav|>
      {{#each links as |link|}}
        <nav.item @linkTo={{link.route}} class="p-0">
          {{link.text}}
        </nav.item>
      {{/each}}
    </BsNav>
  </div>
</div>
