{{!-- Redes sociales en (xs, sm) --}}
<div class="d-block d-md-none text-right">
  {{share-twitter}}
  {{share-facebook}}
</div>
{{!-- 'Navbar' para perfiles --}}
<div class="row my-2">
  <div class="col-12 p-0 border shadow">
    <BsNav
      @type="pills"
      @justified={{true}}
      @stacked={{false}}
      @fill={{true}}
    as |nav|>
      {{#each links as |link|}}
        <nav.item @linkTo={{link.route}}>
          {{link.text}}
        </nav.item>
      {{/each}}
      {{!-- Redes sociales en (viewport > sm) --}}
      <nav.item class="social">
        <div>
          {{share-twitter}}
          {{share-facebook}}
        </div>
      </nav.item>
    </BsNav>
  </div>
</div>
