<Portfolio
  @bg="light"
  @profiles={{this.profiles}}
  @pagination={{false}}
  />

<div class="w-100 bg-light">
  <div class="container">
    <div class="row text-center">
      <div class="mx-auto">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <button type="button" class="page-link" href="#" aria-label="Previous" {{on "click" this.prevPage}}>
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </button>
            </li>
            {{#each this.pages as |page|}}
              <li class="page-item {{if (eq this.page page) "active"}}">
                <button type="button" class="page-link" {{on "click" (fn this.selectPage page)}}>
                  {{page}}
                </button>
              </li>
            {{/each}}
            <li class="page-item">
              <button type="button" class="page-link" href="#" aria-label="Next" {{on "click" this.nextPage}}>
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>