<div class="container">
  <div class="row border my-4">

    <div class="col-md-8 p-4 d-block d-sm-flex">
      <div class="text-center">
        <img
          src={{model.perfil.fotoPerfil}}
          alt={{model.perfil.nombre}}
          border="0"
          class="img-responsive center-block w-75"
        >
      </div>
      <div class="p-2">
        <h2>{{model.perfil.nombre}}</h2>
        <table class="table">
          <tbody>
            {{#each-in model.perfil.informacionGeneral as |key item|}}
              <tr>
                <td class="border-0 p-0">
                  <small>
                    {{#if item.label}}{{html-safe item.label}}{{/if}}
                    {{html-safe item.value}}
                  </small>
                </td>
              </tr>
            {{/each-in}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4 social-side text-center d-block p-4">
      <div>
        <img src={{model.perfil.fotoUrlPartido}} alt={{model.perfil.partidoactual}}>
      </div>
      <div class="d-block mt-3">
        <div>
          <a href={{mode.perfil.tw}} target="_blank" rel="noopener"><i class="fa fa-twitter mr-1"></i>{{model.perfil.tw}}</a>
        </div>
        <div>
          <a href={{model.perfil.fb}} target="_blank" rel="noopener"><i class="fa fa-facebook mr-1"></i>{{model.perfil.nombre}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
