<div class="container">
  <div class="row border my-4">
    <div class="col-md-3 p-4">
      <div>
        <img
          src="{{model.perfil.fotoPerfil}}"
          alt="{{model.perfil.nombre}}"
          border="0"
          class="img-responsive center-block w-100"
        >
      </div>
    </div>

    <div class="col-md-5 p-4">
      <h1>{{model.perfil.nombre}}</h1>
      <table class="table">
        <tbody>
          {{#each-in model.perfil.informacionGeneral as |key item|}}
            <tr>
              <td class="border-0 p-0">
                <small>
                  {{#if item.label}}{{{item.label}}}{{/if}}
                  {{{item.value}}}
                </small>
              </td>
            </tr>
          {{/each-in}}
        </tbody>
      </table>
    </div>

    <div class="col-md-4 social-side text-center d-block p-4">
      <div>
        <img src="{{model.perfil.fotoUrlPartido}}" alt="{{model.perfil.partidoactual}}">
      </div>
      <div class="d-block mt-3">
        <div>
          <a href="{{mode.perfil.tw}}" target="_blank"><i class="fa fa-twitter mr-1"></i>{{model.perfil.tw}}</a>
        </div>
        <div>
          <a href="{{model.perfil.fb}}" target="_blank"><i class="fa fa-facebook mr-1"></i>{{model.perfil.nombre}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
