<div class="row m-1 my-4 bg-white panel py-5" id="info">
  {{!-- Imagen --}}
  <div class="col-md-3 text-center">
    <img
      id="photo-profile"
      src={{this.model.profile.photo}}
      alt={{this.model.profile.nombre}}
      border="0"
      class="img-responsive center-block mb-4 mb-md-0"
    >
  </div>
  {{!-- Información general --}}
  <div class="col pr-5">
    <h3>{{this.model.profile.nombre}}</h3>
    <table class="table w-100">
      <tbody>
        {{#each-in this.campos as |key campo|}}
          <tr class="border-0">
            <td class="border-0 p-1">
              <strong>{{campo}}: </strong> {{get this.model.profile key}}
            </td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{#if (eq this.model.profile._internalModel.modelName "profile")}}
    <div class="col-md-3 text-center align-self-center">
      <h6>Documentos</h6>
      <a
        href={{this.model.profile.cv}}
        class="btn btn-primary text-white w-100 mb-2 {{if (is-empty this.model.profile.cv) "disabled"}}"
        target="_blank"
        rel="noopener noreferrer"
      >
        Hoja de vida (PDF)
      </a>
      <a
        href={{this.model.profile.expediente}}
        class="btn btn-primary text-white w-100 mb-2 {{if (is-empty this.model.profile.expediente) "disabled"}}"
        target="_blank"
        rel="noopener noreferrer"
      >
        Expediente
      </a>
      <a
        href={{this.model.profile.resumen}}
        class="btn btn-primary text-white w-100 {{if (is-empty this.model.profile.resumen) "disabled"}}"
        target="_blank"
        rel="noopener noreferrer"
      >
        Base de datos (Resumen)
      </a>
    </div>
  {{/if}}
  {{#if (eq this.model.profile._internalModel.modelName "institution")}}
    <div class="col-md-3 text-left border-left pl-2 pl-lg-5">
      <h6 class="text-uppercase">Contacto</h6>
      {{!-- Página web --}}
      {{#if this.model.profile.paginaweb}}
        <div>
          <a href="//{{this.model.profile.paginaweb}}" target="_blank" rel="noopener noreferrer">
            <img src="img/icono-web.png" height="20px" alt="Página web">
            Visitar página web
          </a>
        </div>
      {{/if}}
      {{!-- Twitter --}}
      {{#if this.model.profile.twitter}}
        <div>
          <a href="https://twitter.com/{{twitter-link this.model.profile.twitter}}" target="_blank" rel="noopener noreferrer">
            <img src="img/icono-tw.png" height="20px" alt="Twitter">
            @{{twitter-link this.model.profile.twitter}}
          </a>
        </div>
      {{/if}}
      {{!-- Facebook --}}
      {{#if this.model.profile.facebook}}
        <div>
          <a href="{{this.model.profile.facebook}}" target="_blank" rel="noopener noreferrer">
            <img src="img/icono-fb.png" height="20px" alt="Facebook">
            {{this.model.profile.nombre}}
          </a>
        </div>
      {{/if}}
      {{!-- Correo --}}
      {{#if this.model.profile.correo}}
        <div>
          <a href="//{{this.model.profile.correo}}" target="_blank" rel="noopener noreferrer">
            <img src="img/icono-correo.png" height="20px" alt="Correo electrónico">
            {{this.model.profile.correo}}
          </a>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>

{{!-- Descripción --}}
<div class="row">
  <div class="col-12" id="descripcion">
    <div class="panel">
      <div class="header d-flex bg-primary text-uppercase">
        <img src="img/PP-15.png" alt="Hospital" height="30px" width="auto" class="mr-2">
        <h3 id="descripcion">
          Reseña historica
        </h3>
      </div>
      <div>
        <div class="body p-5">
          {{#if this.model.profile.descripcion}}
            <p>{{this.model.profile.descripcion}}</p>
          {{else}}
            <p class="px-5 pt-3">No hay información</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12" id="descripcion">
    <div class="panel">
      <div class="header d-flex bg-primary text-uppercase">
        <img src="img/PP-17.png" alt="Hospital" height="30px" width="auto" class="mr-2">
        <h3 id="descripcion">
          Declaración de Principios
        </h3>
      </div>
      <div>
        <div class="body p-5">
          {{#if this.model.profile.descripcion}}
            <p>{{this.model.profile.descripcion}}</p>
          {{else}}
            <p class="px-5 pt-3">No hay información</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12" id="descripcion">
    <div class="panel">
      <div class="header d-flex bg-primary text-uppercase">
        <img src="img/PP-16.png" alt="Hospital" height="30px" width="auto" class="mr-2">
        <h3 id="descripcion">
          AUTORIDADES
        </h3>
      </div>
      <div>
        <div class="body p-5">
          {{#if this.model.profiles}}
            <Portfolio
              @bg="white"
              @profiles={{slice 0 4 this.model.profiles}}
              @pagination={{false}}
              @paginationSize={{4}}
            />
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 text-center mb-4">
                  <LinkTo
                    class="btn btn-primary mx-auto px-5 py-2 rounded-pill text-center m-t--60"
                    @route="perfil.autoridades"
                    @model={{this.model.profile.id}}
                  >
                    Ver más <FaIcon @icon="chevron-down" class="ml-2" />
                  </LinkTo>
                </div>
              </div>
            </div>
          {{else}}
            <p class="px-5 pt-3">No hay información</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12" id="descripcion">
    <div class="panel">
      <div class="header d-flex bg-primary text-uppercase">
        <img src="img/PP-18.png" alt="Hospital" height="30px" width="auto" class="mr-2">
        <h3 id="descripcion">
          Linea y/o Procedimientos de denuncia
        </h3>
      </div>
      <div>
        <div class="body p-5">
          {{#if this.model.profile.descripcion}}
            <p>{{this.model.profile.descripcion}}</p>
          {{else}}
            <p class="px-5 pt-3">No hay información</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12" id="descripcion">
    <div class="panel">
      <div class="header d-flex bg-primary text-uppercase">
        <img src="img/PP-19.png" alt="Hospital" height="30px" width="auto" class="mr-2">
        <h3 id="descripcion">
          documentos legales
        </h3>
      </div>
      <div>
        <div class="body p-5">
          {{#if this.model.profile.descripcion}}
            <div class="w-100 py-4 d-flex border-bottom font-weight-bold">
              <div class="w-75">
                Programa base (Documento Programáticos)
              </div>
              <div class="w-25">
                <button type="button" class="btn btn-block btn-secondary rounded-pill text-uppercase">
                  <img height="20px" src="img/PP-34.png" alt="Descarga">
                  Descargar Documento
                </button>
              </div>
            </div>
            <div class="w-100 py-4 d-flex border-bottom font-weight-bold">
              <div class="w-75">
                Programa base (Documento Programáticos)
              </div>
              <div class="w-25">
                <button type="button" class="btn btn-block btn-secondary rounded-pill text-uppercase">
                  <img height="20px" src="img/PP-34.png" alt="Descarga">
                  Descargar Documento
                </button>
              </div>
            </div>
            <div class="w-100 py-4 d-flex font-weight-bold">
              <div class="w-75">
                Programa base (Documento Programáticos)
              </div>
              <div class="w-25">
                <button type="button" class="btn btn-block btn-secondary rounded-pill text-uppercase">
                  <img height="20px" src="img/PP-34.png" alt="Descarga">
                  Descargar Documento
                </button>
              </div>
            </div>
          {{else}}
            <p class="px-5 pt-3">No hay información</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12" id="descripcion">
    <div class="panel">
      <div class="header d-flex bg-primary text-uppercase">
        <img src="img/PP-20.png" alt="Hospital" height="30px" width="auto" class="mr-2">
        <h3 id="descripcion">
          FUENTE DE INFORMACIÓN
        </h3>
      </div>
      <div>
        <div class="body p-5">
          {{#if this.model.profile.descripcion}}
            <table class="table text-uppercase">
              <thead class="border-0">
                <tr class="border-0">
                  <th class="border-top-0" scope="col">No.</th>
                  <th class="border-top-0" scope="col">Fuente</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>LOREM IPSUM ITSELF</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>LOREM IPSUM ITSELF</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>LOREM IPSUM ITSELF</td>
                </tr>
              </tbody>
            </table>
          {{else}}
            <p class="px-5 pt-3">No hay información</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Autoridades --}}
  {{!-- <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/i-personas.png" alt="Icono años">
          <h3>Autoridades</h3>
        </div>
        <div>
          <div class="body p-1">
            {{#if model.profiles}}
              <Portfolio
                @bg="white"
                @profiles={{slice 0 4 model.profiles}}
                @pagination={{false}}
                @paginationSize={{4}}
              />
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 text-center mb-4">
                    <LinkTo
                      class="btn btn-primary mx-auto px-5 py-2 rounded-pill text-center m-t--60"
                      @route="perfil.autoridades"
                      @model={{model.profile.id}}
                    >
                      Ver todos los perfiles
                    </LinkTo>
                  </div>
                </div>
              </div>
            {{else}}
              <p class="px-5 pt-3">No hay información</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div> --}}
