<div class="row m-1 border bg-white">
  {{!-- Imagen --}}
  <div class="col-md-4">
    <div class="text-center">
      <img
        id="photo-profile"
        src={{model.profile.fotoPerfil}}
        alt={{model.profile.nombre}}
        border="0"
        class="img-responsive center-block"
      >
    </div>
  </div>
  {{!-- Información general --}}
  <div class="col-md-4">
    <div class="p-2">
      <h3>{{model.profile.nombre}}</h3>
      <table class="table">
        <tbody>
          {{#each-in model.profile.informacionGeneral as |key item|}}
            <tr>
              <td class="border-0 p-0">
                <small>
                  {{#if item.label}}<strong>{{html-safe item.label}}:</strong>{{/if}}
                  {{html-safe item.value}}
                </small>
              </td>
            </tr>
          {{/each-in}}
        </tbody>
      </table>
    </div>
  </div>
  {{!-- Información extra, redes sociales --}}
  <div class="col-md-4 social-side text-center d-block">
    <div>
      <img src={{model.profile.fotoUrlPartido}} alt={{model.profile.partidoactual}}>
    </div>
    <div class="d-block mt-3">
      <div>
        <a href={{model.profile.tw}} target="_blank" rel="noopener"><i class="fa fa-twitter mr-1"></i>{{model.profile.tw}}</a>
      </div>
      <div>
        <a href={{model.profile.fb}} target="_blank" rel="noopener"><i class="fa fa-facebook mr-1"></i>{{model.profile.nombre}}</a>
      </div>
    </div>
  </div>

</div>

<div class="row">
  {{!-- Biografía --}}
  <div class="col-md-12">
    <div class="panel">
      <div class="header d-flex">
        <img src="img/icono-biografia.png" alt="Biografía">
        <h3>Biografía</h3>
      </div>
      <div class="body">
        <p>
          {{availableInfo.biography}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  {{!-- 3 de 3 --}}
  <div class="col-md-12">
    <div class="panel">
      <div class="header d-flex">
        <img src="img/icono-3-de-3.png" alt="3 de 3">
        <h3>3 de 3</h3>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-12 col-md-4 my-2 text-center">
            <button class="btn btn-warning btn-square text-white">CV</button>
          </div>
          <div class="col-12 col-md-4 my-2 text-center">
            <button class="btn btn-success btn-square text-white">Finiquito</button>
          </div>
          <div class="col-12 col-md-4 my-2 text-center">
            <button class="btn btn-primary btn-square text-white">Patrimonio</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  {{!-- Años --}}
  <div class="col-md-6">
    <div class="panel">
      <div class="header d-flex" {{action (toggle "years" this)}}>
        <img src="img/icono-años.png" alt="Icono años">
        <h3>Años</h3>
      </div>
      <div class="body">
        {{#bs-collapse collapsed=years}}
          <p>Mostrar años aquí.{{availableInfo.year}}</p>
        {{/bs-collapse}}
      </div>
    </div>
  </div>
  {{!-- Cargo --}}
  <div class="col-md-6">
    <div class="panel">
      <div class="header d-flex" {{action (toggle "charge" this)}}>
        <img src="img/icono-cargo.png" alt="Icono cargo">
        <h3>Cargo</h3>
      </div>
      <div class="body">
        {{#bs-collapse collapsed=charge}}
          <p>{{availableInfo.charge}}</p>
        {{/bs-collapse}}
      </div>
    </div>
  </div>
</div>
