<div class="row m-1 my-4 bg-white panel py-5">
  {{!-- Imagen --}}
  <div class="col-md-4 text-center">
    <img
      id="photo-profile"
      src={{model.profile.photo}}
      alt={{model.profile.nombre}}
      border="0"
      class="img-responsive center-block mb-4 mb-md-0"
    >
  </div>
  {{!-- Información general --}}
  <div class="col">
    <h3>{{model.profile.nombre}}</h3>
    <table class="table w-100">
      <tbody>
        {{#each-in campos as |key campo|}}
          <tr>
            <td>
              <strong>{{campo}}: </strong> {{get model.profile key}}
            </td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{#if (eq model.profile._internalModel.modelName "profile")}}
    <div class="col-md-3 text-center align-self-center">
      <h6>Documentos</h6>
      <a
        href={{model.profile.cv}}
        class="btn btn-primary text-white w-100 mb-2 {{if (is-empty model.profile.cv) "disabled"}}"
        target="_blank"
        rel="noopener"
      >
        Hoja de vida (PDF)
      </a>
      <a
        href={{model.profile.expediente}}
        class="btn btn-primary text-white w-100 mb-2 {{if (is-empty model.profile.expediente) "disabled"}}"
        target="_blank"
        rel="noopener"
      >
        Expediente
      </a>
      <a
        href={{model.profile.resumen}}
        class="btn btn-primary text-white w-100 {{if (is-empty model.profile.resumen) "disabled"}}"
        target="_blank"
        rel="noopener"
      >
        Base de datos (Resumen)
      </a>
    </div>
  {{/if}}
  {{#if (eq model.profile._internalModel.modelName "institution")}}
    <div class="col-md-3 text-left">
      <h6>Contacto</h6>
      {{!-- Página web --}}
      {{#if model.profile.web}}
        <div>
          <a href="//{{model.profile.web}}" target="_blank" rel="noopener">
            <img src="img/icono-web.png" alt="Página web">
            {{model.profile.web}}
          </a>
        </div>
      {{/if}}
      {{!-- Correo --}}
      {{#if model.profile.correo}}
        <div>
          <a href="//{{model.profile.correo}}" target="_blank" rel="noopener">
            <img src="img/icono-correo.png" alt="Correo electrónico">
            {{model.profile.correo}}
          </a>
        </div>
      {{/if}}
      {{!-- Twitter --}}
      {{#if model.profile.tw}}
        <div>
          <a href="https://twitter.com/{{twitter-link model.profile.tw}}" target="_blank" rel="noopener">
            <img src="img/icono-tw.png" alt="Twitter">
            @{{twitter-link model.profile.tw}}
          </a>
        </div>
      {{/if}}
      {{!-- Facebook --}}
      {{#if model.profile.fb}}
        <div>
          <a href="//{{model.profile.fb}}" target="_blank" rel="noopener">
            <img src="img/icono-fb.png" alt="Facebook">
            {{model.profile.nombre}}
          </a>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>

{{!-- Institution panels --}}
{{#if (eq model.profile._internalModel.modelName "institution")}}
  {{!-- Descripción --}}
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/i-personas.png" alt="Descripción">
          <h3>Descripción de la institutición</h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.descripcion}}
              <p>{{model.profile.descripcion}}</p>
            {{else}}
              <p class="px-5 pt-3">No hay información</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{! Mision }}
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          {{!-- @TODO Cambiar icono --}}
          <img src="img/i-personas.png" alt="Mision" >
          <h3>
            Misión
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.mision}}
              <p>
                {{model.profile.mision}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{! Visión }}
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          {{!-- @TODO Cambiar icono --}}
          <img src="img/i-personas.png" alt="Visión" >
          <h3>
            Visión
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.vision}}
              <p>
                {{model.profile.vision}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Autoridades --}}
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/i-personas.png" alt="Icono años">
          <h3>Autoridades</h3>
        </div>
        <div>
          <div class="body p-1">
            {{#if model.profiles}}
              <Portfolio
                @bg="white"
                @profiles={{model.profiles}}
                @pagination={{false}}
                @paginationSize={{8}}
              />
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 text-center mb-4">
                    <LinkTo
                      class="btn btn-primary mx-auto px-5 py-2 rounded-pill text-center m-t--60"
                      @route="perfil.autoridades"
                      @model={{model.profile.id}}
                    >
                      Ver todos los perfiles
                    </LinkTo>
                  </div>
                </div>
              </div>
            {{else}}
              <p class="px-5 pt-3">No hay información</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Presupuesto --}}
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/i-bolsa.png" alt="Icono bolsa de dinero">
          <h3>Presupuesto</h3>
        </div>
        <div>
          <div class="body p-1">
            {{#if this.lineData}}
              {{ember-chart type="line" data=lineData options=options class="p-0 p-lg-5"}}
            {{else}}
              <p class="px-5 pt-3">No hay información</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Enlaces --}}
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/icono-enlaces.png" alt="Icono bolsa de dinero">
          <h3>Enlaces</h3>
        </div>
        <div>
          <div class="body p-5">
            <div class="blocks-links d-block d-md-flex">
              <a href={{profile.enlaceAccesoInformacion}} class="bg-secondary p-2 px-3 w-100 w-md-25 mx-auto my-2 m-md-2 line-height-thin">
                <div>
                  <img src="img/icono-acceso-informacion.png" alt="Icono bolsa de dinero">
                </div>
                <div>
                  <p>Acceso a la información</p>
                </div>
              </a>
              <a href={{profile.enlaceGobiernoDigital}} class="bg-secondary p-2 px-3 w-100 w-md-25 mx-auto my-2 m-md-2 line-height-thin">
                <div>
                  <img src="img/icono-gobierno-digital.png" alt="Icono bolsa de dinero">
                </div>
                <div>
                  <p>Gobierno Digital</p>
                </div>
              </a>
              <a href={{profile.enlaceDatosAbiertos}} class="bg-secondary p-2 px-3 w-100 w-md-25 mx-auto my-2 m-md-2 line-height-thin">
                <div>
                  <img src="img/icono-datos-abiertos.png" alt="Icono bolsa de dinero">
                </div>
                <div>
                  <p>Datos Abiertos</p>
                </div>
              </a>
              <a href={{profile.enlaceServicios}} class="bg-secondary p-2 px-3 w-100 w-md-25 mx-auto my-2 m-md-2 line-height-thin">
                <div>
                  <img src="img/icono-servicio.png" alt="Icono bolsa de dinero">
                </div>
                <div>
                  <p>Servicio</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{!-- Profile panels --}}
{{#if (eq model.profile._internalModel.modelName "profile")}}
  {{! Experiencia Profesional }}
  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/i-personas.png" alt="Experiencia Profesional">
          <h3>
            Experiencia Profesional
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.experienciaProfesional}}
              <p>
                {{model.profile.experienciaProfesional}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{! Experiencia Académica }}
    <div class="col-md-6">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/i-personas.png" alt="Experiencia Académica">
          <h3>
            Experiencia Académica
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.experienciaAcademica}}
              <p>
                {{model.profile.experienciaAcademica}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{! Proyección Humana / Fuentes URLs }}
  <div class="row">
    <div class="col-6">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/i-personas.png" alt="Proyección Humana">
          <h3>
            Fuentes de información
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.fuenteURL}}
              <table class="table borderless">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Fuente</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td>
                      <a href="//{{model.profile.fuenteURL}}">
                        {{model.profile.fuenteURL}}
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/i-personas.png" alt="Proyección Humana ">
          <h3>
            Proyección Humana
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.proyeccionHumana}}
              <p>
                {{model.profile.proyeccionHumana}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{#if (eq model.profile._internalModel.modelName "election")}}
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <h3>
            Requisitos
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.requisitos}}
              <p>
                {{model.profile.requisitos}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <h3>
            Comisión de Postulación
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.comision}}
              <p>
                {{model.profile.comision}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <h3>
            Infografia
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.infografiaURL}}
              <img src={{model.profile.infografiaURL}} alt="Infografia URL">
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <h3>
            Cronograma
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.cronogramaURL}}
              <img src={{model.profile.cronogramaURL}} alt="Cronograma">
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}