<div class="row m-1 my-4 bg-white panel py-5">
  {{!-- Imagen --}}
  <div class="col-md-4 text-center">
    <img
      id="photo-profile"
      src={{model.profile.photo}}
      alt={{model.profile.nombre}}
      border="0"
      class="img-responsive center-block mb-4"
    >
  </div>
  {{!-- Información general --}}
  <div class="col">
    {{#if (not (eq model.profile._internalModel.modelName "election"))}}
      <div class="divider">

      </div>
    {{else}}
    {{/if}}
    <h3>{{model.profile.nombre}}</h3>
    <table class="table w-100">
      <tbody>
        {{#if (eq model.profile._internalModel.modelName "institution")}}
          <tr>
            <td>
              <p class="font-weight-light">
                {{model.profile.descripcion}}
              </p>
            </td>
          </tr>
        {{/if}}
        {{#each-in campos as |key campo|}}
          <tr>
            <td>
              <strong>{{campo}}: </strong> {{get model.profile key}}
            </td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{#if (not (eq model.profile._internalModel.modelName "election"))}}
    {{!-- Información extra, redes sociales --}}
    <div class="col-md-3 social-side">
      <div class="d-block v-center">
        {{!-- Dirección --}}
        {{#if model.profile.direccion}}
          <div>
            <i class="fa fa-map-marker mx-2"></i>
            {{model.profile.direccion}}
          </div>
        {{/if}}
        {{!-- Número de teléfono --}}
        {{#if model.profile.phone}}
          <div>
            <i class="fa fa-phone mx-2"></i>
            {{model.profile.phone}}
          </div>
        {{/if}}
        {{!-- Correo --}}
        {{#if model.profile.correo}}
          <div>
            <a href="mailto:{{model.profile.correo}}" target="_blank" rel="noopener">
              <img src="img/icono-correo.png" alt="Correo electrónico">
              {{model.profile.correo}}
            </a>
          </div>
        {{/if}}
        {{!-- Twitter --}}
        {{#if model.profile.tw}}
          <div>
            <a href="https://twitter.com/{{twitter-link model.profile.tw}}" target="_blank" rel="noopener">
              <img src="img/icono-tw.png" alt="Twitter">
              @{{twitter-link model.profile.tw}}
            </a>
          </div>
        {{/if}}
        {{!-- Facebook --}}
        {{#if model.profile.fb}}
          <div>
            <a href={{model.profile.fb}} target="_blank" rel="noopener">
              <img src="img/icono-fb.png" alt="Facebook">
              {{model.profile.nombre}}
            </a>
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>

{{#if (eq model.profile._internalModel.modelName "institution")}}
{{!-- Misión y Visión --}}
{{!-- @TODO: Evaluar persistencia. En el diseño no se encuentran --}}
{{!-- <div class="row">
  <div class="col-12">
    <div class="panel">
      <div {{action (toggle "misionYVision" this)}} class="header d-flex bg-primary">
        <img src="img/icono-experiencia-academica.png" alt="Icono años">
        <h3>Misión y Visión</h3>
        {{fa-icon "chevron-circle-down" size=2 class="my-auto ml-auto"}}
      </div>
      <BsCollapse @collapsed={{misionYVision}}>
        <div class="body">
          {{#if (or model.profile.mision model.profile.vision)}}
            <p>{{model.profile.mision}}</p>
            <br>
            <p>{{model.profile.vision}}</p>
          {{else}}
            <strong>No hay datos sobre la experiencia académica.</strong>
          {{/if}}
        </div>
      </BsCollapse>
    </div>
  </div>
</div> --}}

{{!-- Autoridades --}}
<div class="row">
  <div class="col-12">
    <div class="panel">
      <div class="header d-flex bg-primary">
        <img src="img/i-personas.png" alt="Icono años">
        <h3>Autoridades</h3>
      </div>
      <div>
        <div class="body p-1">
          {{#if model.profiles}}
            <Portfolio
              @bg="white"
              @profiles={{model.profiles}}
              @pagination={{false}}
              />
          {{else}}
            <p class="px-5 pt-3">No hay información</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Presupuesto --}}
<div class="row">
  <div class="col-12">
    <div class="panel">
      <div class="header d-flex bg-primary">
        <img src="img/i-bolsa.png" alt="Icono bolsa de dinero">
        <h3>Presupuesto</h3>
      </div>
      <div>
        <div class="body p-1">
          {{#if lineData}}
          {{!-- {{#if model.profile.presupuesto}} --}}
            {{ember-chart type='line' data=lineData class="p-0 p-lg-5"}}
          {{else}}
            <p class="px-5 pt-3">No hay información</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{#if (eq model.profile._internalModel.modelName "profile")}}
<div class="row">
  {{!-- Experiencia Académica --}}
  <div class="col-md-6">
    <div class="panel">
      <div {{action (toggle "experiencia" this)}} class="header d-flex bg-primary">
        <img src="img/icono-experiencia-academica.png" alt="Icono años">
        <h3>Experiencia Académica</h3>
        {{fa-icon (if experiencia "chevron-circle-down" "chevron-circle-up") size=2 class="my-auto ml-auto"}}
      </div>
      <BsCollapse @collapsed={{experiencia}}>
        <div class="body">
          {{#if model.profile.experienciaAcademica}}
            <p>{{model.profile.experienciaAcademica}}</p>
          {{else}}
            <strong>No hay datos sobre la experiencia académica.</strong>
          {{/if}}
        </div>
      </BsCollapse>
    </div>
  </div>
  {{!-- Experiencia Profesional --}}
  <div class="col-md-6">
    <div class="panel">
      <div class="header d-flex bg-primary" {{action (toggle "partidos" this)}}>
        <img src="img/icono-historial-politico.png" alt="Icono cargo">
        <h3>Experiencia Profesional</h3>
        {{fa-icon (if partidos "chevron-circle-down" "chevron-circle-up") size=2 class="my-auto ml-auto"}}
      </div>
      <BsCollapse @collapsed={{partidos}}>
        <div class="body">
          {{#if model.profile.experienciaProfesional}}
            <p>{{model.profile.experienciaProfesional}}</p>
          {{else}}
            <strong>No hay datos sobre la experiencia académica.</strong>
          {{/if}}
        </div>
      </BsCollapse>
    </div>
  </div>
</div>
{{/if}}
{{#if (eq model.profile._internalModel.modelName "election")}}
{{!-- Comisionados --}}
<div class="row">
  <div class="col-12">
    <div class="panel">
      <div {{action (toggle "comissioners" this)}} class="header d-flex bg-primary">
        <img src="img/icono-experiencia-academica.png" alt="Icono años">
        <h3>Comisionados</h3>
        {{fa-icon (if comissioners "chevron-circle-down" "chevron-circle-up") size=2 class="my-auto ml-auto"}}
      </div>
      <BsCollapse @collapsed={{comissioners}}>
        <div class="body">
          {{#if model.comissioners}}
            <Portfolio
              @bg="white"
              @profiles={{model.commissioners}}
              @pagination={{false}}
              />
          {{else}}
            <p>No hay información</p>
          {{/if}}
        </div>
      </BsCollapse>
    </div>
  </div>
</div>
{{/if}}