<div class="row m-1 my-4 bg-white panel">
  {{!-- Imagen --}}
  <div class="col-md-3 text-center p-3">
    <img
      id="photo-profile"
      src={{model.profile.fotoPerfil}}
      alt={{model.profile.nombre}}
      border="0"
      class="img-responsive center-block"
    >
  </div>
  {{!-- Información general --}}
  <div class="col-md-6 p-3">
    <h3>{{model.profile.nombre}}</h3>
    <table class="table w-75">
      <tbody>
        <tr>
          <td class="p-0 border-top-0">
            <small>
              <strong>Tipo de elección: </strong>{{profile.electionName}}
            </small>
          </td>
        </tr>
        <tr>
          <td class="p1">
            <small>
              <strong>Partido Político: </strong>{{currentParty.nombreCompleto}}
            </small>
          </td>
        </tr>
        {{#if isPresident}}
          <tr>
            <td class="p-0">
              <small>
                <strong>Dupla presidencial: </strong>
                {{#link-to "perfil" profile.vicepresident.typeCommonName profile.vicepresident.id}}
                  <span class="text-secondary">{{profile.vicepresident.nombre}}</span>
                {{/link-to}}
              </small>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
  {{!-- Información extra, redes sociales --}}
  <div class="col-md-3 social-side p-3">
    <img src={{model.currentParty.logo}} alt={{model.currentParty.nombreCorto}} class="foto-partido">
    <div class="d-block mt-3">
      {{!-- Página web --}}
      {{#if model.profile.web}}
        <div>
          <a href={{model.profile.web}} target="_blank" rel="noopener">
            <img src="img/icono-web.png" alt="Página web">
            {{model.profile.web}}
          </a>
        </div>
      {{/if}}
      {{!-- Correo --}}
      {{#if model.profile.correo}}
        <div>
          <a href={{model.profile.correo}} target="_blank" rel="noopener">
            <img src="img/icono-correo.png" alt="Correo electrónico">
            {{model.profile.correo}}
          </a>
        </div>
      {{/if}}
      {{!-- Twitter --}}
      {{#if model.profile.tw}}
        <div>
          <a href="https://twitter.com/{{twitter-link model.profile.tw}}" target="_blank" rel="noopener">
            <img src="img/icono-tw.png" alt="Twitter">
            @{{twitter-link model.profile.tw}}
          </a>
        </div>
      {{/if}}
      {{!-- Facebook --}}
      {{#if model.profile.fb}}
        <div>
          <a href={{model.profile.fb}} target="_blank" rel="noopener">
            <img src="img/icono-fb.png" alt="Facebook">
            {{model.profile.nombre}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
</div>

{{#if (eq model.profile._internalModel.modelName "institution")}}
{{!-- Misión y Visión --}}
<div class="row">
  <div class="col-12">
    <div class="panel">
      <div {{action (toggle "misionYVision" this)}} class="header d-flex bg-secondary">
        <img src="img/icono-experiencia-academica.png" alt="Icono años">
        <h3>Misión y Visión</h3>
        {{fa-icon "chevron-circle-down" size=2 class="my-auto ml-auto"}}
      </div>
      <BsCollapse @collapsed={{misionYVision}}>
        <div class="body">
          {{#if availableInfo.misionYVision}}
            <p>{{availableInfo.misionYVision}}</p>
          {{else}}
            <strong>No hay datos sobre la experiencia académica.</strong>
          {{/if}}
        </div>
      </BsCollapse>
    </div>
  </div>
</div>
{{!-- Autoridades --}}
<div class="row">
  <div class="col-12">
    <div class="panel">
      <div {{action (toggle "autoridades" this)}} class="header d-flex bg-secondary">
        <img src="img/icono-experiencia-academica.png" alt="Icono años">
        <h3>Autoridades</h3>
        {{fa-icon "chevron-circle-down" size=2 class="my-auto ml-auto"}}
      </div>
      <BsCollapse @collapsed={{autoridades}}>
        <div class="body">
          {{#if availableInfo.autoridades}}
            <p>{{availableInfo.autoridades}}</p>
          {{else}}
            <Portfolio
              @bg="white"
              @profiles={{model.profiles}}
              @pagination={{false}}
              />
          {{/if}}
        </div>
      </BsCollapse>
    </div>
  </div>
</div>
{{!-- Presupuesto --}}
<div class="row">
  <div class="col-12">
    <div class="panel">
      <div {{action (toggle "presupuesto" this)}} class="header d-flex bg-secondary">
        <img src="img/icono-experiencia-academica.png" alt="Icono años">
        <h3>Presupuesto</h3>
        {{fa-icon "chevron-circle-down" size=2 class="my-auto ml-auto"}}
      </div>
      <BsCollapse @collapsed={{presupuesto}}>
        <div class="body">
          {{#if availableInfo.presupuesto}}
            <p>{{availableInfo.presupuesto}}</p>
          {{else}}
            <strong>No hay datos sobre la experiencia académica.</strong>
          {{/if}}
        </div>
      </BsCollapse>
    </div>
  </div>
</div>
{{else}}
{{!-- Biografía --}}
<div class="row">
  <div class="col-12">
    <div class="panel">
      <div {{action (toggle "biografia" this)}} class="header d-flex bg-secondary">
        <img src="img/icono-experiencia-academica.png" alt="Icono años">
        <h3>Biografía</h3>
        {{fa-icon "chevron-circle-down" size=2 class="my-auto ml-auto"}}
      </div>
      <BsCollapse @collapsed={{biografia}}>
        <div class="body">
          {{#if availableInfo.experienciaAcadémica}}
            <p>{{availableInfo.experienciaAcadémica}}</p>
          {{else}}
            <strong>No hay datos sobre la experiencia académica.</strong>
          {{/if}}
        </div>
      </BsCollapse>
    </div>
  </div>
</div>
<div class="row">
  {{!-- Experiencia Académica --}}
  <div class="col-md-6">
    <div class="panel">
      <div {{action (toggle "experiencia" this)}} class="header d-flex bg-secondary">
        <img src="img/icono-experiencia-academica.png" alt="Icono años">
        <h3>Experiencia Académica</h3>
        {{fa-icon "chevron-circle-down" size=2 class="my-auto ml-auto"}}
      </div>
      <BsCollapse @collapsed={{experiencia}}>
        <div class="body">
          {{#if availableInfo.experienciaAcadémica}}
            <p>{{availableInfo.experienciaAcadémica}}</p>
          {{else}}
            <strong>No hay datos sobre la experiencia académica.</strong>
          {{/if}}
        </div>
      </BsCollapse>
    </div>
  </div>
  {{!-- Experiencia Profesional --}}
  <div class="col-md-6">
    <div class="panel">
      <div class="header d-flex bg-secondary" {{action (toggle "partidos" this)}}>
        <img src="img/icono-historial-politico.png" alt="Icono cargo">
        <h3>Experiencia Profesional</h3>
        {{fa-icon "chevron-circle-down" size=2 class="my-auto ml-auto"}}
      </div>
      <BsCollapse @collapsed={{partidos}}>
        <div class="body">
          {{#if model.historial}}
            <table class="table borderless">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Nombre</th>
                  <th>Partido</th>
                </tr>
              </thead>
              <tbody>
                {{#each model.historial as |partido index|}}
                  <tr>
                    <td scope="row">{{inc index 1}}</td>
                    <td>{{partido.partido}}</td>
                    <td>{{partido.ano}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <strong>No hay datos sobre el Experiencia Profesional.</strong>
          {{/if}}
        </div>
      </BsCollapse>
    </div>
  </div>
</div>
{{/if}}