<div class="col-12 p-0 border shadow-sm bg-white rounded pills mt-4">
  <BsNav
    @type="pills"
    @justified={{false}}
    @stacked={{false}}
    @fill={{false}}
  as |nav|>
    <nav.item>
      {{#scroll-to
        class="nav-link active p-0 pointer"
        target='#descripcion'
        tagName='a'
        duration=1000
        offset=-100
      }}
        <img src="img/icono-13.png" alt="Hospital" height="30px" width="auto" class="mr-2 img-white">
        Descripción
      {{/scroll-to}}
    </nav.item>
    {{#if (eq model.firstObject._internalModel.modelName "institution")}}
      <nav.item>
        {{#scroll-to
          class="nav-link p-0 pointer"
          target='#abastecimiento'
          tagName='a'
          duration=1000
          offset=-100
        }}
          <img src="img/icono-30.png" alt="Guantes" height="30px" width="auto" class="mr-2 img-white">
          Abastecimiento
        {{/scroll-to}}
      </nav.item>
      <nav.item>
        {{#scroll-to
          class="nav-link p-0 pointer"
          target='#compras'
          tagName='a'
          duration=1000
          offset=-100
        }}
          <img src="img/icono-1.png" alt="Guantes" height="30px" width="auto" class="mr-2 img-white">
          Compras
        {{/scroll-to}}
      </nav.item>
    {{/if}}
    <nav.item class="ml-auto p-3 d-none d-md-flex">
      <ShareTwitter />
      <ShareFacebook />
    </nav.item>
  </BsNav>
</div>

<div class="row m-1 my-4 bg-white panel py-5">
  {{!-- Imagen --}}
  <div class="col-md-3 text-center">
    <img
      id="photo-profile"
      src={{model.profile.photo}}
      alt={{model.profile.nombre}}
      border="0"
      class="img-responsive center-block mb-4 mb-md-0"
    >
  </div>
  {{!-- Información general --}}
  <div class="col pr-5">
    <h3>{{model.profile.nombre}}</h3>
    <table class="table w-100">
      <tbody>
        {{#each-in campos as |key campo|}}
          <tr>
            <td>
              <strong>{{campo}}: </strong> {{get model.profile key}}
            </td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{#if (eq model.profile._internalModel.modelName "profile")}}
    <div class="col-md-3 text-center align-self-center">
      <h6>Documentos</h6>
      <a
        href={{model.profile.cv}}
        class="btn btn-primary text-white w-100 mb-2 {{if (is-empty model.profile.cv) "disabled"}}"
        target="_blank"
        rel="noopener"
      >
        Hoja de vida (PDF)
      </a>
      <a
        href={{model.profile.expediente}}
        class="btn btn-primary text-white w-100 mb-2 {{if (is-empty model.profile.expediente) "disabled"}}"
        target="_blank"
        rel="noopener"
      >
        Expediente
      </a>
      <a
        href={{model.profile.resumen}}
        class="btn btn-primary text-white w-100 {{if (is-empty model.profile.resumen) "disabled"}}"
        target="_blank"
        rel="noopener"
      >
        Base de datos (Resumen)
      </a>
    </div>
  {{/if}}
  {{#if (eq model.profile._internalModel.modelName "institution")}}
    <div class="col-md-3 text-left border-left pl-3">
      <h6>Contacto</h6>
      {{!-- Página web --}}
      {{#if model.profile.paginaweb}}
        <div>
          <a href="//{{model.profile.paginaweb}}" target="_blank" rel="noopener">
            <img src="img/icono-web.png" alt="Página web">
            {{model.profile.paginaweb}}
          </a>
        </div>
      {{/if}}
      {{!-- Correo --}}
      {{#if model.profile.correo}}
        <div>
          <a href="//{{model.profile.correo}}" target="_blank" rel="noopener">
            <img src="img/icono-correo.png" alt="Correo electrónico">
            {{model.profile.correo}}
          </a>
        </div>
      {{/if}}
      {{!-- Twitter --}}
      {{#if model.profile.twitter}}
        <div>
          <a href="https://twitter.com/{{twitter-link model.profile.twitter}}" target="_blank" rel="noopener">
            <img src="img/icono-tw.png" alt="Twitter">
            @{{twitter-link model.profile.twitter}}
          </a>
        </div>
      {{/if}}
      {{!-- Facebook --}}
      {{#if model.profile.facebook}}
        <div>
          <a href="{{model.profile.facebook}}" target="_blank" rel="noopener">
            <img src="img/icono-fb.png" alt="Facebook">
            {{model.profile.nombre}}
          </a>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>

{{!-- Institution panels --}}
{{#if (eq model.profile._internalModel.modelName "institution")}}
  {{!-- Descripción --}}
  <div class="row">
    <div class="col-12" id="descripcion">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/icono-13.png" alt="Hospital" height="30px" width="auto" class="mr-2">
          <h3 id="descripcion">
            Descripción
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.descripcion}}
              <p>{{model.profile.descripcion}}</p>
            {{else}}
              <p class="px-5 pt-3">No hay información</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Autoridades --}}
  {{!-- <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/i-personas.png" alt="Icono años">
          <h3>Autoridades</h3>
        </div>
        <div>
          <div class="body p-1">
            {{#if model.profiles}}
              <Portfolio
                @bg="white"
                @profiles={{slice 0 4 model.profiles}}
                @pagination={{false}}
                @paginationSize={{4}}
              />
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 text-center mb-4">
                    <LinkTo
                      class="btn btn-primary mx-auto px-5 py-2 rounded-pill text-center m-t--60"
                      @route="perfil.autoridades"
                      @model={{model.profile.id}}
                    >
                      Ver todos los perfiles
                    </LinkTo>
                  </div>
                </div>
              </div>
            {{else}}
              <p class="px-5 pt-3">No hay información</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div> --}}
  {{!-- Abastecimiento --}}
  <div class="row">
    <div class="col-12" id="abastecimiento">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/icono-15.png" alt="Guantes" height="30px" width="auto" class="mr-2">
          <h3>
            Abastecimiento
          </h3>
        </div>
        <div>
          <div class="body p-1">
            <EmberChart @type="horizontalBar" @data={{trazadores}} @options={{options}} @class="p-0 p-lg-5 my-4" />
            <EmberChart @type="horizontalBar" @data={{medicamentos1M}} @options={{options}} @class="p-0 p-lg-5" />
            <EmberChart @type="horizontalBar" @data={{medicamentos3M}} @options={{options}} @class="p-0 p-lg-5" />
            <div class="p-4 d-flex">
              <img src="img/icono-2.png" alt="Tiempo" height="30px" width="auto" class="mr-3 my-auto">
              <div>
                <h6>Actualizado el: {{this.FechaAbastecimiento.dato}}</h6>
                <small class="text-muted">Fuente: {{this.FuenteAbastecimiento.dato}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Compras --}}
  <div class="row">
    <div class="col-12" id="compras">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/icono-19.png" alt="Guantes" height="30px" width="auto" class="mr-2">
          <h3>
            Compras
          </h3>
        </div>
        <div>
          <div class="body p-0">
            {{#if model.compras}}
            <div class="table-responsive thead-secondary">
              <EmberTable class="table border" as |t|>
                <t.head
                  @columns={{this.comprasColumns}}
                  @sorts={{this.sortsCompras}}

                  @onUpdateSorts={{action (mut this.sortsCompras)}}
                as |h|>
                  <h.row as |r|>
                    <r.cell class="align-middle" as |column|>
                      {{#if (eq column.name "Categoria")}}
                        <img src="img/icono-4.png" alt="Lista" height="30px" width="auto" class="mr-2">
                      {{/if}}
                      {{#if (eq column.name "Equipos")}}
                        <img src="img/icono-5.png" alt="Botiquín" height="30px" width="auto" class="mr-2">
                      {{/if}}
                      {{#if (eq column.name "Unidades")}}
                        <img src="img/icono-6.png" alt="Lista" height="30px" width="auto" class="mr-2">
                      {{/if}}
                      {{#if (eq column.name "ModalidadLCE")}}
                        <img src="img/icono-7.png" alt="Moneda girando" height="30px" width="auto" class="mr-2">
                      {{/if}}
                      {{#if (eq column.name "Estatus")}}
                        <img src="img/icono-10.png" alt="Reloj" height="30px" width="auto" class="mr-2">
                      {{/if}}
                      {{#if (eq column.name "Monto")}}
                        <img src="img/icono-11.png" alt="Bolsa" height="30px" width="auto" class="mr-2">
                      {{/if}}
                      {{#if (eq column.name "Fecha")}}
                        <img src="img/icono-9.png" alt="Bolsa" height="30px" width="auto" class="mr-2">
                      {{/if}}
                      {{column.name}}

                      {{#if meta.isSorted}}
                        {{#if meta.isSortedAsc}}
                          <i class="fa fa-sort-asc" aria-hidden="true"></i>
                        {{else}}
                          <i class="fa fa-sort-desc" aria-hidden="true"></i>
                        {{/if}}
                      {{else}}
                        <i class="fa fa-sort" aria-hidden="true"></i>
                      {{/if}}
                    </r.cell>
                  </h.row>
                </t.head>
                <t.body @rows={{model.compras}} as |b|>
                  <b.row as |r|>
                    <r.cell as |value column|>
                      <span class="{{if (eq column.name "Monto") "text-secondary"}}">
                        {{if column.money "Q"}} {{value}} {{if column.percentage "%"}}
                      </span>
                    </r.cell>
                  </b.row>
                </t.body>
                <t.foot @rows={{this.footCompras}} as |f|>
                  <f.row as |r|>
                    <r.cell as |value column|>
                      <strong class={{if (eq column.name "Monto") "text-secondary"}}>
                        {{if (eq column.name "Monto") "Q"}} {{value}} {{if column.percentage "%"}}
                      </strong>
                    </r.cell>
                  </f.row>
                </t.foot>
              </EmberTable>
              <div class="p-4 d-flex">
                <img src="img/icono-2.png" alt="Tiempo" height="30px" width="auto" class="mr-3 my-auto">
                <div>
                  <h6>Actualizado el: {{this.FechaCompras.dato}}</h6>
                  <small class="text-muted">Fuente: {{this.FuenteCompras.dato}}</small>
                </div>
              </div>
            </div>
            {{else}}
              <p class="px-5 pt-3">No hay información</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{!-- Profile panels --}}
{{#if (eq model.profile._internalModel.modelName "profile")}}
  {{! Experiencia Profesional }}
  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/icono-historial.png" alt="Experiencia Profesional">
          <h3>
            Experiencia Profesional
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.experienciaProfesional}}
              <p>
                {{model.profile.experienciaProfesional}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{! Experiencia Académica }}
    <div class="col-md-6">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/icono-experiencia-academica.png" alt="Experiencia Académica">
          <h3>
            Experiencia Académica
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.experienciaAcademica}}
              <p>
                {{model.profile.experienciaAcademica}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{! Proyección Humana / Fuentes URLs }}
  <div class="row">
    <div class="col-6">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/icono-fuentes.png" alt="Mensaje de globo con una I">
          <h3>
            Fuentes de información
          </h3>
          {{fa-icon "chevron-circle-down" size=2 class="my-auto ml-auto"}}
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.fuenteURL}}
              <table class="table borderless">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Fuente</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td>
                      <a href="//{{model.profile.fuenteURL}}">
                        {{model.profile.fuenteURL}}
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/i-personas.png" alt="Proyección Humana">
          <h3>
            Proyección Humana
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.proyeccionHumana}}
              <p>
                {{model.profile.proyeccionHumana}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{#if (eq model.profile._internalModel.modelName "election")}}
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/icono-requisitos.png" alt="Documentos">
          <h3>
            Requisitos
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.requisitos}}
              <p>
                {{model.profile.requisitos}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/i-personas.png" alt="Grupo de personas">
          <h3>
            Comisión de Postulación
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.comision}}
              <p>
                {{model.profile.comision}}
              </p>
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <img src="img/icono-infografia.png" alt="Icono de graficas">
          <h3>
            Infografia
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.infografiaURL}}
              <img src={{model.profile.infografiaURL}} alt="Infografia URL">
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <div class="header d-flex bg-primary">
          <h3>
            Cronograma
          </h3>
        </div>
        <div>
          <div class="body p-4">
            {{#if model.profile.cronogramaURL}}
              <img src={{model.profile.cronogramaURL}} alt="Cronograma">
            {{else}}
              <p class="px-5 pt-3">
                No hay información
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}