<div class="row m-1 bg-white panel">
  {{!-- Imagen --}}
  <div class="col-md-3 text-center p-3">
    <img
      id="photo-profile"
      src={{model.profile.fotoPerfil}}
      alt={{model.profile.nombre}}
      border="0"
      class="img-responsive center-block"
    >
  </div>
  {{!-- Información general --}}
  <div class="col-md-6 p-3">
    <h3>{{model.profile.nombre}}</h3>
    <table class="table w-75">
      <tbody>
        <tr>
          <td class="p-0 border-top-0">
            <small>
              <strong>Partido Político: </strong>{{currentParty.nombreCompleto}}
            </small>
          </td>
        </tr>
        <tr>
          <td class="p-0">
            <small>
              <strong>Estado civil: </strong>{{profile.estadoCivil}}
            </small>
          </td>
        </tr>
        <tr>
          <td class="p-0">
            <small>
              <strong>Lugar de nacimiento: </strong>{{profile.lugarDeNacimiento}}
            </small>
          </td>
        </tr>
        <tr>
          <td class="p-0">
            <small>
              <strong>Fecha de Nacimiento: </strong>{{profile.fechaDeNacimiento}}
            </small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {{!-- Información extra, redes sociales --}}
  <div class="col-md-3 social-side text-center d-block p-3">
    <img src={{model.currentParty.logo}} alt={{model.currentParty.nombreCorto}} class="foto-partido">
    <div class="d-block mt-3">
      <div>
        <a href={{model.profile.web}} target="_blank" rel="noopener">
          <img src="img/icono-tw.png" alt="Página web">
          {{model.profile.web}}
        </a>
      </div>
      <div>
        <a href={{model.profile.correo}} target="_blank" rel="noopener">
          <img src="img/icono-tw.png" alt="Correo electrónico">
          {{model.profile.correo}}
        </a>
      </div>
      <div>
        <a href={{model.profile.tw}} target="_blank" rel="noopener">
          <img src="img/icono-tw.png" alt="Twitter">
          {{model.profile.tw}}
        </a>
      </div>
      <div>
        <a href={{model.profile.fb}} target="_blank" rel="noopener">
          <img src="img/icono-fb.png" alt="Facebook">
          {{model.profile.nombre}}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  {{!-- Biografía --}}
  <div class="col-md-12">
    <div class="panel">
      <div class="header d-flex">
        <img src="img/icono-biografia.png" alt="Biografía">
        <h3>Biografía</h3>
      </div>
      <div class="body">
        <p>
          {{availableInfo.biography}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  {{!-- Experiencia Académica --}}
  <div class="col-md-6">
    <div class="panel">
      <div {{action (toggle "experiencia" this)}} class="header d-flex bg-secondary">
        <img src="img/icono-experiencia-academica.png" alt="Icono años">
        <h3>Experiencia Académica</h3>
        {{fa-icon "chevron-circle-down" size=2 class="my-auto ml-auto"}}
      </div>
      <div class="body">
        {{#bs-collapse collapsed=experiencia}}
          {{#if availableInfo.experienciaAcadémica}}
            <p>{{availableInfo.experienciaAcadémica}}</p>
          {{else}}
            <strong>No hay datos sobre la experiencia académica.</strong>
          {{/if}}
        {{/bs-collapse}}
      </div>
    </div>
  </div>
  {{!-- Historial Político --}}
  <div class="col-md-6">
    <div class="panel">
      <div class="header d-flex bg-secondary" {{action (toggle "partidos" this)}}>
        <img src="img/icono-historial-politico.png" alt="Icono cargo">
        <h3>Historial Político</h3>
        {{fa-icon "chevron-circle-down" size=2 class="my-auto ml-auto"}}
      </div>
      <div class="body">
        {{#bs-collapse collapsed=partidos}}
          {{#if model.historial}}
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Partido</th>
                </tr>
              </thead>
              <tbody>
                {{#each model.historial as |partido index|}}
                  <tr>
                    <td scope="row">{{inc index 1}}</td>
                    <td>{{partido.partido}}</td>
                    <td>{{partido.ano}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <strong>No hay datos sobre el historial político.</strong>
          {{/if}}
        {{/bs-collapse}}
      </div>
    </div>
  </div>
</div>

<div class="row mb-0 pb-0">
  {{!-- Planes de gobierno --}}
  <div class="col-12">
    <div class="panel planes">
      <div class="header d-flex">
        <img src="img/icono-planes-gobierno.png" alt="Planes de gobierno">
        <h3>Planes de gobierno</h3>

        {{#bs-dropdown class="ml-auto" as |dd|}}
          {{#bs-button}}Descarga aquí{{/bs-button}}
          {{#dd.button}}<span class="caret"></span>{{/dd.button}}
          {{#dd.menu as |menu|}}
            {{#menu.item}}
              {{#menu.link-to "index"}}PDF{{/menu.link-to}}
            {{/menu.item}}
            {{#menu.item}}
              {{#menu.link-to "index"}}WPDF{{/menu.link-to}}
            {{/menu.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  {{!-- Entrevistas --}}
  <div class="col-md-6">
    <div class="panel entrevistas">
      <div class="header d-flex">
        <img src="img/icono-entrevistas.png" alt="Entrevistas">
        <h3>Entrevistas</h3>
      </div>
      <div class="body">
        {{#if entrevistas}}
          {{#each entrevistas as |entrevista|}}
            <a href={{entrevista.url}}>
              <div class="card">
                <img class="card-img-top" src="img/entrevista.svg" alt="Imagen de entrevista">
                {{!-- <img class="card-img-top" src={{entrevista.foto}} alt="Imagen de entrevista"> --}}
                <div class="card-body">
                  <p class="card-text">{{entrevista.nombre}}</p>
                </div>
              </div>
            </a>
          {{/each}}
        {{else}}
          <strong>No hay entrevistas.</strong>
        {{/if}}
      </div>
    </div>
  </div>
  {{!-- Fuentes de Información --}}
  <div class="col-md-6">
    <div class="panel fuentes">
      <div class="header d-flex">
        <img src="img/icono-fuentes-informacion.png" alt="Fuentes de información">
        <h3>Fuentes de información</h3>
      </div>
      <div class="body">
        {{#if fuentes}}
          <div class="row">
            <div class="col-3 py-2 text-center">
              <h5 class="font-weight-bold">No.</h5>
            </div>
            <div class="col-9 py-2 text-left">
              <h5 class="font-weight-bold">Fuente.</h5>
            </div>
            {{#each fuentes as |fuente index|}}
              <div class="col-3 text-center">
                <strong class="font-weight-bold">{{inc index 1}}.</strong>
              </div>
              <div class="col-9 text-left">
                <a href={{fuente.url}}>
                  <p>{{fuente.texto}}</p>
                </a>
              </div>
            {{/each}}
          </div>
        {{else}}
          <strong>No hay datos sobre las fuente.</strong>
        {{/if}}
      </div>
    </div>
  </div>
</div>
