<div class="row m-1 border bg-white panel">
  {{!-- Imagen --}}
  <div class="col-md-3 text-center p-3">
    <img
      src={{model.partido.logo}}
      alt="Logo de {{model.partido.nombreCompleto}}"
      width="100%">
  </div>
  {{!-- Información general --}}
  <div class="col-md-6 p-3">
    <div class="table-responsive-md">
      <h3>{{model.partido.nombreCorto}}</h3>
      <table class="table w-75">
        <tbody>
          <tr>
            <td class="p-0 border-top-0">
              <small>
                <strong>Nombre:</strong>
                {{model.partido.nombreCorto}}
              </small>
            </td>
          </tr>
          <tr>
            <td class="p-0">
              <small>
                <strong>Fecha de inscripción:</strong>
                {{model.partido.fechaInscripcion}}
              </small>
            </td>
          </tr>
          <tr>
            <td class="p-0">
              <small>
                <strong>Secretario general:</strong>
                {{model.partido.secretarioGeneral}}
              </small>
            </td>
          </tr>
          <tr>
            <td class="p-0">
              <small>
                <strong>Número de afiliados:</strong>
                {{model.partido.numeroAfiliados}}
              </small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{!-- Redes sociales --}}
  <div class="col-md-3 social-side text-left d-block p-3">
    <div class="d-block mt-3">
      {{!-- Página web --}}
      {{#if model.partido.web}}
        <div>
          <a href={{model.partido.web}} target="_blank" rel="noopener">
            <img src="img/icono-web.png" alt="Página web">
            {{model.partido.web}}
          </a>
        </div>
      {{/if}}
      {{!-- Correo --}}
      {{#if model.partido.correo}}
        <div>
          <a href={{model.partido.correo}} target="_blank" rel="noopener">
            <img src="img/icono-correo.png" alt="Correo electrónico">
            {{model.partido.correo}}
          </a>
        </div>
      {{/if}}
      {{!-- Twitter --}}
      {{#if model.partido.tw}}
        <div>
          <a href={{model.partido.tw}} target="_blank" rel="noopener">
            <img src="img/icono-tw.png" alt="Twitter">
            {{model.partido.tw}}
          </a>
        </div>
      {{/if}}
      {{!-- Facebook --}}
      {{#if model.partido.fb}}
        <div>
          <a href={{model.partido.fb}} target="_blank" rel="noopener">
            <img src="img/icono-fb.png" alt="Facebook">
            {{model.partido.nombreCorto}}
          </a>
        </div>
      {{/if}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="panel">
      <div class="header">
        <h3>Miembros</h3>
      </div>
      <div class="body">
        <div id="portfolio" class="portfolio clearfix my-4">
          {{#each pagedContent as |profile|}}
            {{item-portfolio profile=profile}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Pagination numbers --}}
<div class="row">
  <div class="col-4 offset-4 text-center">
    {{page-numbers content=pagedContent}}
  </div>
</div>
