<div class="row m-1 border bg-white">
  <div class="col-md-3 text-center">
    <img
      src={{model.partido.logo}}
      alt="Logo de {{model.partido.nombreCompleto}}"
      width="100%">
  </div>
  <div class="col-md-5">
    <div class="table-responsive-md">
      <table class="table table-sm">
        <tbody>
          <tr>
            <td>
              <small>
                <strong>Nombre corto:</strong>
                {{model.partido.nombreCorto}}
              </small>
            </td>
          </tr>
          <tr>
            <td>
              <small>
                <strong>Nombre completo:</strong>
                {{model.partido.nombreCompleto}}
              </small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="d-block mt-3">
      <div>
        <a href={{model.partido.tw}} target="_blank" rel="noopener"><i class="fa fa-twitter mr-1"></i>{{model.partido.tw}}</a>
      </div>
      <div>
        <a href={{model.partido.fb}} target="_blank" rel="noopener"><i class="fa fa-facebook mr-1"></i>{{model.partido.fb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="panel">
      <div class="header">
        <h3>Miembros</h3>
      </div>
      <div class="body">
        {{front-portfolio profiles=model.miembros}}
      </div>
    </div>
  </div>
</div>
