<div class="row mt-4">
  <div class="col-12">
    <div class="w-100 bg-white p-5">
      <h4 class="text-uppercase">
        Sanciones aplicadas a partidos
      </h4>
      <p class="mb-5">
        Lorem ipsum dolor sit amet consectetur adipiscing elit viverra per, dignissim tortor suspendisse eu conubia lacus ac egestas vestibulum feugiat, ornare est ligula nisi dictumst fames curae montes. Quisque himenaeos sed donec habitant class litora, est dictum phasellus cubilia parturient vitae, volutpat tincidunt sem platea sociosqu. Suspendisse non auctor nullam mi est penatibus phasellus porttitor massa tellus dignissim, porta cras habitant conubia ullamcorper netus aliquet cum ligula curabitur ridiculus, vivamus eu aenean elementum at taciti pellentesque varius sociis urna.
      </p>
      <div class="w-100 border-bottom my-5"></div>
      <table class="table table-responsive">
        <thead class="text-uppercase">
          <tr>
            <th class="border-top-0 px-5 w-200px" scope="col">
              Fecha
            </th>
            <th class="border-top-0" scope="col">
              descripción
            </th>
            <th class="border-top-0" scope="col">
              estado
            </th>
            <th class="border-top-0 w-200px" scope="col">
              TIPO DE SANCIÓN
            </th>
            <th class="border-top-0 px-5" scope="col">
              Documento
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model as |sancion|}}
            <tr>
              <td class="py-5">
                {{sancion.fecha}}
              </td>
              <td class="py-5">
                {{sancion.descripcion}}
              </td>
              <td class="py-5">
                {{sancion.estado}}
              </td>
              <td class="text-secondary py-5">
                {{sancion.tipoSancion}}
              </td>
              <td class="text-center py-5">
                <a
                  href={{sancion.DocumentoSancionURL}}
                  target="_blank"
                  rel="noopener noreferrer"
                  type="button"
                  class="btn btn-secondary btn-sm rounded-pill text-uppercase font-weight-bold"
                >
                  <small>Ver documento</small>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>