<div class="w-100 bg-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h1>Abastecimiento</h1>
        <p class="pb-4">
          En esta apartado encontrará documentación oficial sobre los niveles de abastecimiento que oficialmente el MSPAS publicó para fortalecer capacidades en las acciones de contención y mitigación de COVID 19. Encontrará información relativa a medicamentos, insumos médico quirúrgico, recursos humanos y entre otros que servirán para fortalecer la red hospitalaria y los hospitales móviles para la atención de COVID 19.
        </p>
      </div>
      <div class="col-12 pt-4 border-top text-left d-flex">
        <img src="img/icono-2.png" alt="Tiempo" height="30px" width="auto" class="mr-3 my-auto">
        <div>
          <h6>Actualizado el: {{this.Fecha.dato}}</h6>
          <small class="text-muted">Fuente: {{this.Fuente.dato}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-100 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 p-0 border shadow-sm bg-white rounded pills mt-4">
        <BsNav
          @type="pills"
          @justified={{false}}
          @stacked={{false}}
          @fill={{false}}
        as |nav|>
          <nav.item>
            {{scroll-to
              class="nav-link active p-0 pointer"
              label='Trazadores'
              target='#trazadores'
              tagName='a'
              duration=1000
            }}
          </nav.item>
          <nav.item>
            {{scroll-to
              class="nav-link p-0 pointer"
              label='Disponibilidad mayor a 1 mes'
              target='#disponibilidadMayorA_1Mes'
              tagName='a'
              duration=1000
            }}
          </nav.item>
          <nav.item>
            {{scroll-to
              class="nav-link p-0 pointer"
              label='Disponibilidad mayor a 3 meses'
              target='#disponibilidadMayorA_3Meses'
              tagName='a'
              duration=1000
            }}
          </nav.item>
          <nav.item class="ml-auto p-3 d-none d-md-flex"></nav.item>
        </BsNav>
      </div>
      <div class="col-12 my-4">
        <h3 id="trazadores" class="w-100 bg-secondary text-white m-0 px-4 py-2">Trazadores disponibilidad mayor a 1 mes</h3>
        <div class="table-responsive thead-primary mb-5">
          <EmberTable class="table table-striped border" as |t|>
            <t.head
              @columns={{this.columnsTrazadores}}
              @sorts={{this.sortsTrazadores}}

              @onUpdateSorts={{action (mut this.sortsTrazadores)}}
            as |h|>
              <h.row as |r|>
                <r.cell class="align-middle" as |column|>
                  {{#if (eq column.name "Medicamentos trazadores")}}
                    <img src="img/icono-18.png" alt="Botella de medicamentos" height="30px" width="auto" class="mr-2 my-auto">
                  {{/if}}
                  {{#if (eq column.name "Insumos médico-quirúrgico trazador")}}
                    <img src="img/icono-20.png" alt="Frasco" height="30px" width="auto" class="mr-2 my-auto">
                  {{/if}}
                  {{column.name}}

                  {{#if meta.isSorted}}
                    {{#if meta.isSortedAsc}}
                      <i class="fa fa-sort-asc" aria-hidden="true"></i>
                    {{else}}
                      <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    {{/if}}
                  {{else}}
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  {{/if}}
                </r.cell>
              </h.row>
            </t.head>
            <t.body @rows={{model.rows}} />
          </EmberTable>
        </div>
        <h3 id="disponibilidadMayorA_1Mes" class="w-100 bg-secondary text-white m-0 px-4 py-2">Disponibilidad mayor a 1 mes</h3>
        <div class="table-responsive thead-primary mb-5">
          <EmberTable class="table table-striped border" as |t|>
            <t.head
              @columns={{this.columns1M}}
              @sorts={{this.sorts1M}}

              @onUpdateSorts={{action (mut this.sorts1M)}}
            as |h|>
              <h.row as |r|>
                <r.cell class="align-middle" as |column|>
                  <div class="d-inline-flex">
                    {{#if (eq column.name "Medicamentos")}}
                      <img src="img/icono-21.png" alt="Pastilla" height="30px" width="auto" class="mr-2 my-auto">
                    {{/if}}
                    {{#if (eq column.name "Insumos médico-quirúrgicos")}}
                      <img src="img/icono-18.png" alt="Botella de medicamentos" height="30px" width="auto" class="mr-2 my-auto">
                    {{/if}}
                    {{#if (eq column.name "Reactivos para Laboratorio Clínico")}}
                      <img src="img/icono-22.png" alt="Frasco de laboratorio" height="30px" width="auto" class="mr-2 my-auto">
                    {{/if}}
                    {{#if (eq column.name "Reactivos para Banco de Sangre")}}
                      <img src="img/icono-23.png" alt="Gota de sangre" height="30px" width="auto" class="mr-2 my-auto">
                    {{/if}}
                    {{column.name}}

                    {{#if meta.isSorted}}
                      {{#if meta.isSortedAsc}}
                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                      {{else}}
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                      {{/if}}
                    {{else}}
                      <i class="fa fa-sort" aria-hidden="true"></i>
                    {{/if}}
                  </div>
                </r.cell>
              </h.row>
            </t.head>
            <t.body @rows={{model.rows}} />
          </EmberTable>
        </div>
        <h3 id="disponibilidadMayorA_3Meses" class="w-100 bg-secondary text-white m-0 px-4 py-2">Disponibilidad mayor a 3 meses</h3>
        <div class="table-responsive thead-primary mb-5">
          <EmberTable class="table table-striped border" as |t|>
            <t.head
              @columns={{this.columns3M}}
              @sorts={{this.sorts3M}}

              @onUpdateSorts={{action (mut this.sorts3M)}}
            as |h|>
              <h.row as |r|>
                <r.cell class="align-middle" as |column|>
                  {{#if (eq column.name "Medicamentos")}}
                    <img src="img/icono-21.png" alt="Pastilla" height="30px" width="auto" class="mr-2 my-auto">
                  {{/if}}
                  {{#if (eq column.name "Insumos médico-quirúrgicos")}}
                    <img src="img/icono-18.png" alt="Botella de medicamentos" height="30px" width="auto" class="mr-2 my-auto">
                  {{/if}}
                  {{#if (eq column.name "Reactivos para Laboratorio Clínico")}}
                    <img src="img/icono-22.png" alt="Frasco de laboratorio" height="30px" width="auto" class="mr-2 my-auto">
                  {{/if}}
                  {{#if (eq column.name "Reactivos para Banco de Sangre")}}
                    <img src="img/icono-23.png" alt="Gota de sangre" height="30px" width="auto" class="mr-2 my-auto">
                  {{/if}}
                  {{column.name}}

                  {{#if meta.isSorted}}
                    {{#if meta.isSortedAsc}}
                      <i class="fa fa-sort-asc" aria-hidden="true"></i>
                    {{else}}
                      <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    {{/if}}
                  {{else}}
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  {{/if}}
                </r.cell>
              </h.row>
            </t.head>
            <t.body @rows={{model.rows}} />
          </EmberTable>
        </div>
      </div>
    </div>
  </div>
</div>