<div class="w-100 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 py-4">
        <h1>Abastecimientos</h1>
        <h2>Trazadores disponibilidad mayor a 1 mes</h2>
        <div class="table-responsive mb-2">
          <EmberTable as |t|>
            <t.head
              @columns={{this.columnsTrazadores}}
              @sorts={{this.sortsTrazadores}}

              @onUpdateSorts={{action (mut this.sortsTrazadores)}}
            />
            <t.body @rows={{model}} />
          </EmberTable>
        </div>
        <h2>Disponibilidad mayor a 1 mes</h2>
        <div class="table-responsive mb-2">
          <EmberTable as |t|>
            <t.head
              @columns={{this.columns1M}}
              @sorts={{this.sorts1M}}

              @onUpdateSorts={{action (mut this.sorts1M)}}
            />
            <t.body @rows={{model}} />
          </EmberTable>
        </div>
        <h2>Disponibilidad mayor a 3 meses</h2>
        <div class="table-responsive mb-2">
          <EmberTable as |t|>
            <t.head
              @columns={{this.columns3M}}
              @sorts={{this.sorts3M}}

              @onUpdateSorts={{action (mut this.sorts3M)}}
            />
            <t.body @rows={{model}} />
          </EmberTable>
        </div>
      </div>
    </div>
  </div>
</div>