{{head-layout}}

{{title "CandiDatos - RedCiudadana"}}

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-12 text-white py-3 top-banner">
      <div class="float-left">
        Elecciones Generales, Guatemala 2019
      </div>
      <div class="float-right">
        <i class="fa fa-facebook mx-3"></i>
        <i class="fa fa-twitter mx-3"></i>
      </div>
    </div>
  </div>
</div>

{{red-navbar model=model}}

<main>
  {{outlet}}
</main>

{{red-footer}}
