{{head-layout}}

{{title "CandiDatos - RedCiudadana"}}

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-12 text-white py-3 top-banner">
      <div class="float-left">
        Elecciones Generales, Guatemala 2019
      </div>
      <div class="float-right">
        <a
          href="https://www.facebook.com/Redciudadanagt/"
          target="_blank"
          rel="noopener">
          <img
            src="img/icono-fb-white.png"
            alt="Facebook"
            height="25px"
            width="25px"
            class="mr-2">
        </a>
        <a
          href="https://twitter.com/RedxGuate"
          target="_blank"
          rel="noopener">
          <img
            src="img/icono-tw-white.png"
            alt="Twitter"
            height="25px"
            width="25px">
        </a>
        {{share-facebook class="ml-3 d-inline"}}
        {{share-twitter class="d-inline"}}
      </div>
    </div>
  </div>
</div>

{{red-navbar model=model}}

<main>
  {{outlet}}
</main>

{{red-footer}}
