<HeadLayout />

{{title "PartidosPublicos - RedCiudadana"}}

{{!-- Navbar --}}
<BsNavbar id="navbar" class="shadow-sm" @toggleBreakpoint="xl" @backgroundColor="white" @type="light" @position="sticky-top" @fluid={{true}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}

    <LinkTo @route="application" class="navbar-brand">
      <img src="logo-brand.png" class="img-responsive" title={{this.nombreApp}} alt="Cancha de futbol">
    </LinkTo>
  </div>

  <navbar.content>
    {{!-- @TODO Hacer funcionar active en nav.item --}}
    <navbar.nav @justified={{false}} type="pills" class="ml-auto" as |nav|>
      {{#each this.links as |link|}}
        {{#if link.model}}
          <nav.item @active={{false}} class="mt-1">
            <LinkTo @route={{link.route}} @model={{link.model}}>
              {{link.text}}
            </LinkTo>
          </nav.item>
        {{else}}
          <nav.item @active={{false}} class="mt-1">
            <LinkTo @route={{link.route}}>
              {{link.text}}
            </LinkTo>
          </nav.item>
        {{/if}}
      {{/each}}

      <nav.item class="no-hover">
        <a href="https://facebook.com/Redciudadanagt" target="_blank" rel="noopener noreferrer">
          <img src="img/icono-fb-gray.png" alt="Facebook" height="30px" width="30px">
        </a>
        <a href="https://twitter.com/redxguate" target="_blank" rel="noopener noreferrer">
          <img src="img/icono-tw-gray.png" alt="Twitter" height="30px" width="30px">
        </a>
      </nav.item>

    </navbar.nav>
  </navbar.content>
</BsNavbar>

{{!-- Outlet --}}
<main>
  {{outlet}}
</main>

{{!-- Footer --}}
<div id="footer">
  <div class="container first">
    {{!-- General info --}}
    <div class="row">
      {{!-- ¿Te gusta lo que hacemos? --}}
      <div class="col-12 col-sm-6 col-md-4">
        <h6>¿Te gusta lo que hacemos?</h6>
        <ul class="list-unstyled">
          <li>
            <a href="http://donacion.redciudadana.org/" target="_blank" rel="noopener noreferrer">
              <FaIcon @icon="heart" class="mr-1" />
              Donaciones
            </a>
          </li>
          <li>
            <a href="http://voluntarios.redciudadana.org/" target="_blank" rel="noopener noreferrer">
              <FaIcon @icon="users" class="mr-1" />
              Voluntariado
            </a>
          </li>
        </ul>
      </div>
      {{!-- Contáctanos --}}
      <div class="col-12 col-sm-6 col-md-4 order-md-3">
        <h6>Contáctanos:</h6>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:info@redciudadana.org.gt" target="_blank" rel="noopener noreferrer">
              <FaIcon @icon="envelope" class="mr-1" />
              info@redciudadana.org
            </a>
          </li>
        </ul>
      </div>
      {{!-- Social follow --}}
      <div class="col-12 follow col-md-4">
        <h6>Síguenos en:</h6>
        <div class="d-flex">
          <a href="https://www.facebook.com/Redciudadanagt/" target="_blank" rel="noopener noreferrer" class="image-opacity">
            <img src="mi-guatemala/img/icon-fb-white.png" alt="Facebook">
          </a>
          <a href="https://twitter.com/RedxGuate" target="_blank" rel="noopener noreferrer" class="image-opacity">
            <img src="mi-guatemala/img/icon-tw-white.png" alt="Twitter">
          </a>
          <a href="https://www.instagram.com/redxguate/" target="_blank" rel="noopener noreferrer" class="image-opacity">
            <img src="mi-guatemala/img/icon-in-white.png" alt="Instragram">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="red-footer">
  <div class="container">
    <div class="row">
      {{!-- Red Ciudadana --}}
      <div class="col-12 col-md-8 d-flex">
        <p class="my-auto">Un proyecto de:</p>
        <div>
          <a href="http://redciudadana.org/" target="_blank" rel="noopener noreferrer">
            <img src="mi-guatemala/img/logo-rc-color.png" alt="Red Ciudanana" class="logo-rc m-auto mt-md-3">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-4 d-flex my-4 cc-icons text-left text-md-right">
        <a href="https://creativecommons.org/licenses/by-sa/3.0/gt/" target="_blank" rel="noopener noreferrer"
          class="ml-0 ml-md-auto">
          <img src="mi-guatemala/img/icon-cc-cc.png" alt="Creative Commons">
          <img src="mi-guatemala/img/icon-cc-by.png" alt="Creative Commons - Atribución">
          <img src="mi-guatemala/img/icon-cc-sa.png" alt="Creative Commons - Compartir Igual">
        </a>
      </div>
    </div>
  </div>
</div>
