<HeadLayout />

{{title "NuestraSalud - RedCiudadana"}}

<ServiceWorkerUpdateNotify>
  <button class="service-worker-update-notify bg-primary text-white p-2 w-100 border-0" {{action "updateApp"}}>
    Un nueva versión está disponible, click aquí para actualizar.
  </button>
</ServiceWorkerUpdateNotify>

{{!-- Navbar --}}
<BsNavbar id="navbar" class="shadow-sm" @toggleBreakpoint="xl" @backgroundColor="white" @type="light" @position="sticky-top" @fluid={{true}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}

    <LinkTo @route="application" class="navbar-brand">
      <img src="logo-brand.png" class="img-responsive" title={{nombreApp}} alt="Congreso">
    </LinkTo>
  </div>

  <navbar.content>
    {{!-- @TODO Hacer funcionar active en nav.item --}}
    <navbar.nav @justified={{false}} type="pills" class="ml-auto" as |nav|>
      {{#each model.navbarLinks as |link|}}
        <nav.item @active={{false}}>
          <LinkTo @route={{link.route}}>{{link.title}}</LinkTo>
        </nav.item>
      {{/each}}

      <nav.item @active={{false}} class="mt-1">
        <LinkTo @route="perfiles" @model={{"hospitales"}}>
          Hospitales
        </LinkTo>
      </nav.item>

      <nav.item @active={{false}} class="mt-1">
        <LinkTo @route="abastecimiento">
          Abastecimiento
        </LinkTo>
      </nav.item>

      <nav.item @active={{false}} class="mt-1">
        <LinkTo @route="compras">
          Compras Públicas
        </LinkTo>
      </nav.item>

      <nav.item @active={{false}} class="mt-1">
        <LinkTo @route="priorizacion">
          Prioridades
        </LinkTo>
      </nav.item>

      <nav.item @active={{false}} class="mt-1">
        <LinkTo @route="presupuesto">
          Presupuesto
        </LinkTo>
      </nav.item>

      {{!-- <nav.item @active={{false}} class="mt-1">
        <LinkTo @route="perfiles" @model={{"elecciones"}}>
          Comisiones de Postulación
        </LinkTo>
      </nav.item>

      <nav.item @active={{false}} class="mt-1">
        <LinkTo @route="perfiles" @model="perfiles">
          Perfiles
        </LinkTo>
      </nav.item>

      <nav.item @active={{false}} class="mt-1">
        <LinkTo @route="preguntas">
          Preguntas frecuentes
        </LinkTo>
      </nav.item> --}}

      <nav.item class="no-hover">
        <a href="https://www.facebook.com/lhernandezmack/" target="_blank" rel="noopener">
          <img src="img/icono-fb-white.png" alt="Facebook" height="30px" width="30px">
        </a>
        <a href="https://twitter.com/hernandezmack" target="_blank" rel="noopener">
          <img src="img/icono-tw-white.png" alt="Twitter" height="30px" width="30px">
        </a>
      </nav.item>

    </navbar.nav>
  </navbar.content>
</BsNavbar>

{{!-- Outlet --}}
<main>
  {{outlet}}
</main>

{{!-- Footer --}}
<div id="footer">
  <div class="container first">
    {{!-- General info --}}
    <div class="row">
      {{!-- ¿Te gusta lo que hacemos? --}}
      <div class="col-12 col-sm-6 col-md-4">
        <h6>¿Te gusta lo que hacemos?</h6>
        <ul class="list-unstyled">
          <li>
            <a href="http://donacion.redciudadana.org/" target="_blank" rel="noopener">
              <i class="fa fa-heart"></i>Donaciones
            </a>
          </li>
          <li>
            <a href="http://voluntarios.redciudadana.org/" target="_blank" rel="noopener">
              <i class="fa fa-users"></i>Voluntariado
            </a>
          </li>
        </ul>
      </div>
      {{!-- Contáctanos --}}
      <div class="col-12 col-sm-6 col-md-4 order-md-3">
        <h6>Contáctanos:</h6>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:hernandezmack@bancadasemilla.gt" target="_blank" rel="noopener">
              <i class="fa fa-envelope"></i>hernandezmack@bancadasemilla.gt
            </a>
          </li>
        </ul>
      </div>
      {{!-- Social follow --}}
      <div class="col-12 follow col-md-4">
        <h6>Síguenos en:</h6>
        <div class="d-flex">
          <a href="https://www.facebook.com/Redciudadanagt/" target="_blank" rel="noopener" class="image-opacity">
            <img src="mi-guatemala/img/icon-fb-white.png" alt="Facebook">
          </a>
          <a href="https://twitter.com/RedxGuate" target="_blank" rel="noopener" class="image-opacity">
            <img src="mi-guatemala/img/icon-tw-white.png" alt="Twitter">
          </a>
          <a href="https://www.instagram.com/redxguate/" target="_blank" rel="noopener" class="image-opacity">
            <img src="mi-guatemala/img/icon-in-white.png" alt="Instragram">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="red-footer">
  <div class="container">
    <div class="row">
      {{!-- Red Ciudadana --}}
      <div class="col-12 col-md-8 d-flex">
        <p class="my-auto">Un proyecto de:</p>
        <div>
          <a href="http://redciudadana.org/" target="_blank" rel="noopener">
            <img src="img/colaboradores/semilla.jfif" alt="Logo de una Semilla" class="logo-rc ml-2" height="50px" width="auto">
          </a>
          <a href="http://redciudadana.org/" target="_blank" rel="noopener">
            <img src="mi-guatemala/img/logo-rc-color.png" alt="Logo de Red Ciudanana" class="logo-rc m-auto mt-md-3">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-4 d-flex my-4 cc-icons text-left text-md-right">
        <a href="https://creativecommons.org/licenses/by-sa/3.0/gt/" target="_blank" rel="noopener"
          class="ml-0 ml-md-auto">
          <img src="mi-guatemala/img/icon-cc-cc.png" alt="Creative Commons">
          <img src="mi-guatemala/img/icon-cc-by.png" alt="Creative Commons - Atribución">
          <img src="mi-guatemala/img/icon-cc-sa.png" alt="Creative Commons - Compartir Igual">
        </a>
      </div>
    </div>
  </div>
</div>
