<div class="w-100 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 py-4">
        <h1>Necesidades</h1>
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">
                Unidad
              </th>
              <th scope="col">
                Compras
              </th>
              <th scope="col">
                ModalidadLCE
              </th>
              <th scope="col">
                Fecha
              </th>
              <th scope="col">
                Estatus
              </th>
              <th scope="col">
                Monto
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each model as |compra|}}
              <tr>
                <td>{{ compra.Unidad }}</td>
                <td>{{ compra.Compras }}</td>
                <td>{{ compra.ModalidadLCE }}</td>
                <td>{{ compra.Fecha }}</td>
                <td>{{ compra.Estatus }}</td>
                <td>{{ compra.Monto }}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>