<div class="w-100">
  <div class="container py-4">
    <div class="row font-weight-bold text-center">
      <div class="col-12 py-4">
        <div class="d-flex h1">
          <img src="img/icono-1.png" alt="Bolsa con oro" class="mr-3 my-auto h-1em">
          <h1 class="my-auto">
            Compras Públicas
          </h1>
        </div>
        <p class="font-weight-normal text-left">En esta apartado encontrará documentación oficial sobre las compras que el MSPAS realizó para fortalecer capacidades en las acciones de contención y mitigación de COVID 19. Encontrará información de compras relativa a medicamentos, insumos médico quirúrgico entre otros que servirán para fortalecer la red hospitalaria y los hospitales móviles para la atención de COVID 19.</p>
      </div>
      <div class="col-12 py-4 border-top py-5 text-left d-flex">
        <div class="my-auto mr-auto d-flex">
          <img src="img/icono-2.png" alt="Tiempo" height="30px" width="auto" class="mr-3 my-auto">
          <div>
            <h6>Actualizado el: {{this.FechaCompras.dato}}</h6>
            <small class="text-muted">Fuente: {{this.FuenteCompras.dato}}</small>
          </div>
        </div>
        <a class="btn btn-secondary btn-lg" href="{{this.DescargarExcel.dato}}">
          <small>DESCARGAR XLS</small>
        </a>
        <a class="btn btn-info btn-lg ml-2" href="{{this.DescargarPDF.dato}}">
          <small>DESCARGAR PDF</small>
        </a>
      </div>
      <div class="col-12">
        <div class="bg-light rounded w-100 overflow-hidden">
          <div class="w-100 bg-primary text-white py-3">
            <h6>Monto Total de compras adjudicadas</h6>
            <small>(Del 1/03/2020 al 30/03/2020)</small>
          </div>
          <div class="w-100 bg-light text-primary py-4">
            <h6>
              Q {{this.montoTotal.Unidad}}
            </h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 py-4">
        <div class="bg-light rounded w-100 overflow-hidden">
          <div class="w-100 bg-primary text-white py-3">
            <h6>
              Concursos Realizados
            </h6>
          </div>
          <div class="w-100 bg-light text-primary py-4">
            <h6>{{this.concursos.Unidad}}</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 py-4">
        <div class="bg-light rounded w-100 overflow-hidden">
          <div class="w-100 bg-primary text-white py-3">
            <h6>
              Adjudicados Terminados
            </h6>
          </div>
          <div class="w-100 bg-light text-primary py-4">
            <h6>{{this.concursosTerminados.Unidad}}</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 py-4">
        <div class="bg-light rounded w-100 overflow-hidden">
          <div class="w-100 bg-primary text-white py-3">
            <h6>
              Concursos vigentes
            </h6>
          </div>
          <div class="w-100 bg-light text-primary py-4">
            <h6>
              {{this.concursosVigente.Unidad}}
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="w-100 my-4" style="width: 100%; height: 500px;">
        {{ember-chart
          type="doughnut"
          data=this.dataComprasByModalidad
          options=this.optionsComprasByModalidad
          height="500px"
        }}
      </div>
      <div class="w-100 my-2" style="width: 100%; height: 500px;">
        {{ember-chart
          type="bar"
          data=this.dataComprasStatusByMes
          options=this.optionsComprasStatusByMes
          height="500px"
        }}
      </div>
    </div>
  </div>
</div>
<div class="w-100 bg-primary">
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-8">
        <PowerSelect
          class="w-100"
          @placeholder="Búsqueda por Unidad/Hospitales"
          @searchEnabled={{true}}
          @searchField="Unidad"
          @allowClear="true"
          @selected={{this.filterUnidad}}
          @options={{this.UnidadOptions}}
          @onChange={{action (mut this.filterUnidad)}}
        as |compra|>
          <small>
            {{compra.Unidad}}
          </small>
        </PowerSelect>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 div col-md-4">
        <PowerSelect
          class="w-100"
          @placeholder="Modalidad LCE"
          @searchEnabled={{true}}
          @searchField="ModalidadLCE"
          @allowClear="true"
          @selected={{this.filterModalidadLCE}}
          @options={{this.ModalidadLCEOptions}}
          @onChange={{action (mut this.filterModalidadLCE)}}
        as |compra|>
          {{compra.ModalidadLCE}}
        </PowerSelect>
      </div>
      <div class="col-12 div col-md-4">
        <PowerSelect
          class="w-100"
          @placeholder="Estado"
          @searchEnabled={{true}}
          @searchField="Estatus"
          @allowClear="true"
          @selected={{this.filterEstatus}}
          @options={{this.EstatusOptions}}
          @onChange={{action (mut this.filterEstatus)}}
        as |compra|>
          {{compra.Estatus}}
        </PowerSelect>
      </div>
    </div>
  </div>
</div>
<div class="w-100 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 py-4">
        <div class="table-responsive thead-secondary my-4">
          <EmberTable class="table table-striped border" as |t|>
            <t.head
              @columns={{this.columnsCompras}}
              @sorts={{this.sortsCompras}}

              @onUpdateSorts={{action "sortingUpdate"}}
            as |h|>
              <h.row as |r|>
                <r.cell class="align-middle" as |column meta|>
                  {{#if (eq column.name "Categoria")}}
                    <img src="img/icono-4.png" alt="Lista" height="30px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Equipos")}}
                    <img src="img/icono-5.png" alt="Botiquín" height="30px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Unidades")}}
                    <img src="img/icono-6.png" alt="Lista" height="30px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "ModalidadLCE")}}
                    <img src="img/icono-7.png" alt="Moneda girando" height="25px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Estatus")}}
                    <img src="img/icono-10.png" alt="Reloj" height="30px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Monto")}}
                    <img src="img/icono-11.png" alt="Bolsa" height="30px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Fecha")}}
                    <img src="img/icono-9.png" alt="Bolsa" height="30px" width="auto" class="mr-2">
                  {{/if}}
                  {{column.name}}

                  {{#if meta.isSorted}}
                    {{#if meta.isSortedAsc}}
                      <i class="fa fa-sort-asc" aria-hidden="true"></i>
                    {{else}}
                      <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    {{/if}}
                  {{else}}
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  {{/if}}
                </r.cell>
              </h.row>
            </t.head>

            <t.body @rows={{this.compras}} as |b|>
              <b.row as |r|>
                <r.cell as |value column|>
                  <span class="{{if (eq column.name "Monto") "text-secondary"}} text-break">
                    {{#if column.money }}
                      {{format-number value format='DECIMAL_CURRENCY'}}
                    {{else}}
                      {{value}} {{if column.percentage "%"}}
                    {{/if}}
                  </span>
                </r.cell>
              </b.row>
            </t.body>
            {{!-- <t.foot @rows={{this.footCompras}} as |f|>
              <f.row as |r|>
                <r.cell as |value column|>
                  <strong class={{if (eq column.name "Monto") "text-secondary"}}>
                    {{#if (eq column.name "Monto")}}
                      {{format-number value format='DECIMAL_CURRENCY'}}
                    {{else}}
                      {{value}} {{if column.percentage "%"}}
                    {{/if}}
                  </strong>
                </r.cell>
              </f.row>
            </t.foot> --}}
          </EmberTable>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-100 bg-light py-5">
  <div class="container">
    <div class="row text-center">
      <div class="mx-auto">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item">
              <button class="page-link" href="#" aria-label="Previous" {{action "prevPage"}}>
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </button>
            </li>
            {{#each this.pages as |page|}}
              <li class="page-item {{if (eq this.page page) "active"}}">
                <button class="page-link" {{action "selectPage" page}}>
                  {{page}}
                </button>
              </li>
            {{/each}}
            <li class="page-item">
              <button class="page-link" href="#" aria-label="Next" {{action "nextPage"}}>
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
