<div class="w-100 h-min-60vh bg-light">
  <div class="container py-5">
    <div class="row pt-5 pb-4">
      <div class="col-12 col-md-6">
        <div class="power-select-secondary">
          <PowerSelect
            @placeholder="Seleccionar partido"
            @searchEnabled={{true}}
            @searchField="nombre"
            @options={{this.model.partidos}}
            @selected={{this.partido1}}
            @onChange={{fn this.selectPartido1}}
          as |partido|>
            {{partido.nombre}}
          </PowerSelect>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="power-select-primary">
          <PowerSelect
            @placeholder="Seleccionar partido"
            @searchEnabled={{true}}
            @searchField="nombre"
            @options={{this.model.partidos}}
            @selected={{this.partido2}}
            @onChange={{fn this.selectPartido2}}
          as |partido|>
            {{partido.nombre}}
          </PowerSelect>
        </div>
      </div>
    </div>
    {{#if this.campos}}
      <div class="row mb-4">
        <div class="col-12 col-md-6 text-center">
          <img
            width="80px"
            height="auto"
            src={{this.partido1.photo}}
            alt={{this.partido1.nombreCompleto}}
          >
          <br>
          <strong>
            {{this.partido1.nombreCompleto}}
          </strong>
        </div>
        <div class="col-12 col-md-6 text-center">
          <img
            width="80px"
            height="auto"
            src={{this.partido2.photo}}
            alt={{this.partido2.nombreCompleto}}
          >
          <br>
          <strong>
            {{this.partido2.nombreCompleto}}
          </strong>
        </div>
      </div>
      {{#each this.campos as |row|}}
        <div class="row mb-4">
          {{#each row as |column|}}
            {{#if column}}
              <div class="col-12 col-md-6">
                <div class="bg-white p-4">
                  <p class="m-0">
                    <span class="text-muted mb-2">
                      {{column.label}}
                    </span>
                    <br>
                    {{#if column.value}}
                      {{#if column.isSafeString}}
                        {{{column.value}}}
                      {{else}}
                        {{column.value}}
                      {{/if}}
                    {{else}}
                      Información no disponible
                    {{/if}}
                  </p>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/each}}
    {{else}}
      <div class="row">
        <div class="col-12">
          <h1 class="text-muted text-center">
            Seleccionar partidos
          </h1>
        </div>
      </div>
    {{/if}}
  </div>
</div>