{{!-- Carousel --}}
{{#bs-carousel as |car|}}
  {{#car.slide}}
    <img alt="Paso 1" src="img/slider-1.png" height="auto" width="100%">
  {{/car.slide}}
  {{#car.slide}}
    <img alt="Paso 2" src="img/slider-2.png" height="auto" width="100%">
  {{/car.slide}}
  {{#car.slide}}
    <img alt="Paso 3" src="img/slider-3.png" height="auto" width="100%">
  {{/car.slide}}
{{/bs-carousel}}

<div class="container py-5">

  {{!-- Ember Power Select --}}
  <div class="row">
    <div class="col-12 text-center">
      <h5>¿Quiénes son los representantes de tu municipio?</h5>
      {{#power-select
        options=model
        selected=profile
        searchField="nombre"
        onchange=(action (mut profile))
      as |profile|}}
        <strong>{{profile.nombre}}</strong>
      {{/power-select}}
    </div>
  </div>

  {{!-- Filters --}}
  <div class="row filters">
    <div class="col-12 text-center">
      {{!-- Sexo --}}
      {{#bs-dropdown class="m-2 rounded" as |dd|}}
        {{#dd.button class="bg-light btn-light"}}Sex<span class="caret"></span>{{/dd.button}}
        {{#dd.menu as |menu|}}
          {{#menu.item}}
            <label>
              <input type="checkbox" checked={{esMujer}} onclick={{queue (action (mut esMujer) value="target.checked") (action "applyFilter")}}>
              <img src="img/icono-femenino.png" alt="Femenino">
              Femenino
            </label>
          {{/menu.item}}
          {{#menu.item}}
            <label>
              <input type="checkbox" checked={{esHombre}} onclick={{queue (action (mut esHombre) value="target.checked") (action "applyFilter")}}>
              <img src="img/icono-masculino.png" alt="Masculino">
              Masculino
            </label>
          {{/menu.item}}
        {{/dd.menu}}
      {{/bs-dropdown}}
      {{!-- Municipio --}}
      {{#bs-dropdown class="m-2 rounded" as |dd|}}
        {{#dd.button class="bg-light btn-light"}}Municipio<span class="caret"></span>{{/dd.button}}
        {{#dd.menu as |menu|}}
          {{#menu.item}}
            <label>
              <input type="checkbox" checked={{municipioA}} onclick={{queue (action (mut municipioA) value="target.checked") (action "applyFilter")}}>
              municipioA
            </label>
          {{/menu.item}}
          {{#menu.item}}
            <label>
              <input type="checkbox" checked={{municipioB}} onclick={{queue (action (mut municipioB) value="target.checked") (action "applyFilter")}}>
              municipioB
            </label>
          {{/menu.item}}
        {{/dd.menu}}
      {{/bs-dropdown}}
      {{!-- Tipo --}}
      {{#bs-dropdown class="m-2 rounded" as |dd|}}
        {{#dd.button class="bg-light btn-light"}}Tipo de elección<span class="caret"></span>{{/dd.button}}
        {{#dd.menu as |menu|}}
          {{#menu.item}}
            <label>
              <input type="checkbox" checked={{president}} onclick={{queue (action (mut president) value="target.checked") (action "applyFilter")}}>
              <img src="img/icono-president.png" alt="Elección presidencial">
              Presidencial
            </label>
          {{/menu.item}}
          {{#menu.item}}
            <label>
              <input type="checkbox" checked={{mayor}} onclick={{queue (action (mut mayor) value="target.checked") (action "applyFilter")}}>
              <img src="img/icono-muni.png" alt="Elección municipal">
              Municipal
            </label>
          {{/menu.item}}
          {{#menu.item}}
            <label>
              <input type="checkbox" checked={{deputie}} onclick={{queue (action (mut deputie) value="target.checked") (action "applyFilter")}}>
              <img src="img/icono-deputies.png" alt="Elección diputados del listado nacional">
              Diputados Listado Nacional
            </label>
          {{/menu.item}}
          {{#menu.item}}
            <label>
              <input type="checkbox" checked={{parlacem}} onclick={{queue (action (mut parlacem) value="target.checked") (action "applyFilter")}}>
              <img src="img/icono-parlacem.png" alt="Elección diputados del parlacem">
              Diputados Parlacem
            </label>
          {{/menu.item}}
        {{/dd.menu}}
      {{/bs-dropdown}}
      {{!-- Partido --}}
      {{#bs-dropdown class="m-2 rounded" as |dd|}}
        {{#dd.button class="bg-light btn-light"}}Partido político<span class="caret"></span>{{/dd.button}}
        {{#dd.menu as |menu|}}
          {{#menu.item}}
            <label>
              <input type="checkbox" checked={{partidoA}} onclick={{queue (action (mut partidoA) value="target.checked") (action "applyFilter")}}>
              partidoA
            </label>
          {{/menu.item}}
          {{#menu.item}}
            <label>
              <input type="checkbox" checked={{partidoB}} onclick={{queue (action (mut partidoB) value="target.checked") (action "applyFilter")}}>
              partidoB
            </label>
          {{/menu.item}}
        {{/dd.menu}}
      {{/bs-dropdown}}
    </div>
  </div>

</div>

<div class="container-fluid bg-light py-4">

  {{!-- Portofolio --}}
  <div class="row">
    <div class="col-10 offset-1">
      <div id="portfolio" class="portfolio clearfix my-4">
        {{#each pagedContent as |profile|}}
          <article class="item {{profile.selector}}">
            <div class="background bg-white">

              <div class="image">
                {{#link-to "perfil" profile.type profile.id}}
                  <img alt={{profile.cargoNombreCompleto}} src={{profile.fotoPerfil}}>
                {{/link-to}}
              </div>

              <div class="text">
                <h6>{{profile.nombre}}</h6>
                <h6 class="font-weight-light">{{profile.type}}</h6>
              </div>

            </div>
          </article>
        {{/each}}
      </div>
    </div>
  </div>

  {{!-- Pagination numbers --}}
  <div class="row">
    <div class="col-4 offset-4 text-center">
      {{page-numbers content=pagedContent}}
    </div>
  </div>

</div>

<div class="container">

  {{!-- ¿Dónde voto? ¿Cuánto falta? ¡Empadrónate! --}}
  <div class="row high">
    <div class="col-4 text-center">
      <button class="btn btn-warning btn-square text-white">¿Dónde voto?</button>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-success btn-square text-white">¿Cuánto falta?</button>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-primary btn-square text-white">¡Empadrónate!</button>
    </div>
  </div>
</div>
