{{#bs-carousel as |car|}}
  {{#car.slide}}
    <img alt="Paso 1" src="img/slider-1.png" height="auto" width="100%">
  {{/car.slide}}
  {{#car.slide}}
    <img alt="Paso 2" src="img/slider-2.png" height="auto" width="100%">
  {{/car.slide}}
  {{#car.slide}}
    <img alt="Paso 3" src="img/slider-3.png" height="auto" width="100%">
  {{/car.slide}}
{{/bs-carousel}}

<div class="container py-5">

  <div class="row">
    <div class="col-12 text-center">
      <h5>¿Quiénes son los representantes de tu municipio?</h5>
        {{#power-select
          options=model
          selected=profile
          searchField="nombre"
          onchange=(action (mut profile))
        as |profile|}}
          <strong>{{profile.nombre}}</strong>
        {{/power-select}}
    </div>
  </div>

</div>

<div class="container-fluid bg-light py-4">

  <div class="row">
    <div class="col-10 offset-1">
      <div id="portfolio" class="portfolio clearfix my-4">
        {{#each pagedContent as |profile|}}
          <article class="item {{profile.selector}}">
            <div class="background bg-light">

              <div class="image">
                {{#link-to "perfil" profile.type profile.id}}
                  <img alt={{profile.cargoNombreCompleto}} src={{profile.fotoPerfil}}>
                {{/link-to}}
              </div>

              <div class="text">
                <h6>{{profile.nombre}}</h6>
                <h6 class="font-weight-light">{{profile.type}}</h6>
              </div>

            </div>
          </article>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-4 text-center">
      {{page-numbers content=pagedContent}}
    </div>
  </div>

</div>

<div class="container">
  <div class="row high">
    <div class="col-4 text-center">
      <button class="btn btn-warning btn-square text-white">¿Dónde voto?</button>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-success btn-square text-white">¿Cuánto falta?</button>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-primary btn-square text-white">¡Empadrónate!</button>
    </div>
  </div>
</div>
