<div class="w-100 bg-light">
  <div class="container py-5">
    <div class="row py-5 bg-white">
      <div class="col-12 px-5">
        <h1 class="text-uppercase text-center mb-4">
          ÍNDICE
        </h1>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repudiandae fuga quam commodi earum neque doloribus maiores sapiente distinctio eveniet? Porro quia similique aut recusandae magni reiciendis dolores assumenda ipsa?
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat eligendi itaque officia ullam iure, nostrum sed ipsam consequuntur,
        </p>
      </div>
      <div class="col-12 mt-3 px-5">
        <div class="w-100 border-top border-bottom">
          <div id="indice-header-table" class="row no-gutters py-4">
            <div class="text-center" style="width: 14.28%;">
              <img class="mb-2" src="img/PP-25.png" alt="Boleta de partidos politicos" title="Partido Politico">
              <small class="text-uppercase m-0 d-block">
                Partido Politico
              </small>
            </div>
            <div class="text-center" style="width: 14.28%;">
              <img class="mb-2" src="img/PP-27.png" alt="Boleta de partidos politicos" title="Marco normativo">
              <small class="text-uppercase m-0 d-block">
                Marco normativo
              </small>
            </div>
            <div class="text-center" style="width: 14.28%;">
              <img class="mb-2" src="img/PP-28.png" alt="Boleta de partidos politicos" title="Estructura y  organización">
              <small class="text-uppercase m-0 d-block">
                Estructura y  organización
              </small>
            </div>
            <div class="text-center" style="width: 14.28%;">
              <img class="mb-2" src="img/PP-26.png" alt="Boleta de partidos politicos" title="Autoridades y representantes">
              <small class="text-uppercase m-0 d-block">
                Autoridades y representantes
              </small>
            </div>
            <div class="text-center" style="width: 14.28%;">
              <img class="mb-2" src="img/PP-29.png" alt="Boleta de partidos politicos" title="Origen y Principios">
              <small class="text-uppercase m-0 d-block">
                Origen y Principios
              </small>
            </div>
            <div class="text-center" style="width: 14.28%;">
              <img class="mb-2" src="img/PP-30.png" alt="Boleta de partidos politicos" title="Financiamientos">
              <small class="text-uppercase m-0 d-block">
                Financiamientos
              </small>
            </div>
            <div style="width: 14.28%;" class="text-center d-flex">
              <small class="text-uppercase my-auto mx-auto">
                Total
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 px-5">
        {{#each this.model as |partido|}}
          <div class="w-100 border-bottom">
            <div class="row no-gutters py-4">
              <div style="width: 14.28%;">
                <p class="text-uppercase font-weight-bold my-auto">
                  <div class="ml-md-2 d-inline">{{partido.siglas}}</div>
                </p>
              </div>
              <div style="width: 14.28%;">
                  <div class="w-auto h-100 mx-2 bg-light" style="max-height: 24px;">
                    <div class="bg-secondary h-100" style="width: {{partido.IndiceNormativo}} !important; max-height: 24px;">
                      <small class="mx-2 text-white">{{partido.IndiceNormativo}}</small>
                    </div>
                  </div>
              </div>
              <div style="width: 14.28%;">
                  <div class="w-auto h-100 mx-2 bg-light" style="max-height: 24px;">
                    <div class="bg-secondary h-100" style="width: {{partido.IndiceEstructura}} !important; max-height: 24px;">
                      <small class="mx-2 text-white">{{partido.IndiceEstructura}}</small>
                    </div>
                  </div>
              </div>
              <div style="width: 14.28%;">
                  <div class="w-auto h-100 mx-2 bg-light" style="max-height: 24px;">
                    <div class="bg-secondary h-100" style="width: {{partido.IndiceAutoridades}} !important; max-height: 24px;">
                      <small class="mx-2 text-white">{{partido.IndiceAutoridades}}</small>
                    </div>
                  </div>
              </div>
              <div style="width: 14.28%;">
                  <div class="w-auto h-100 mx-2 bg-light" style="max-height: 24px;">
                    <div class="bg-secondary h-100" style="width: {{partido.IndicePrincipios}} !important; max-height: 24px;">
                      <small class="mx-2 text-white">{{partido.IndicePrincipios}}</small>
                    </div>
                  </div>
              </div>
              <div style="width: 14.28%;">
                  <div class="w-auto h-100 mx-2 bg-light" style="max-height: 24px;">
                    <div class="bg-secondary h-100" style="width: {{partido.IndiceFinanciamiento}} !important; max-height: 24px;">
                      <small class="mx-2 text-white">{{partido.IndiceFinanciamiento}}</small>
                    </div>
                  </div>
              </div>
              <div style="width: 14.28%;">
                  <div class="w-auto h-100 mx-2 bg-light" style="max-height: 24px;">
                    <div class="bg-secondary h-100" style="width: {{partido.IndiceTotal}} !important; max-height: 24px;">
                      <small class="mx-2 text-white">{{partido.IndiceTotal}}</small>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>