<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 py-5">
      <h2>Buscar perfiles</h2>
      <PowerSelect
        @placeholder="Busqueda"
        @searchEnabled={{true}}
        @searchField="nombre"
        @options={{model}}
        @onChange={{action "toProfile"}} as |profile|>
        {{profile.nombre}}
      </PowerSelect>
    </div>
  </div>
</div>

<Portfolio
  @bg="light"
  @profiles={{model}}
  />
{{outlet}}