<div class="container py-5">
  {{!-- Ember Power Select --}}
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <h4>{{pagedContent.firstObject.title}}</h4>
      {{#power-select
        class="w-100"
        options=model
        selected=profile
        searchField="nombre"
        onchange=(action "toProfile")
      as |profile|}}
        <strong>{{profile.nombre}}</strong>
      {{/power-select}}
    </div>
  </div>
  {{!-- Filtros --}}
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      {{!-- Filtro por departamento y municipal--}}
      {{#if pagedContent.firstObject.filterDepartament}}
        {{!-- Departamento --}}
        <p>Elige tu departamento:</p>
        {{#power-select
          class="w-100"
          options=model
          selected=profile
          searchField="nombre"
          onchange=(action "toProfile")
        as |profile|}}
          <strong>{{profile.nombre}}</strong>
        {{/power-select}}
        {{!-- Municipio --}}
        <p>Elige tu municipio:</p>
        {{#power-select
          class="w-100"
          options=model
          selected=profile
          searchField="nombre"
          onchange=(action "toProfile")
        as |profile|}}
          <strong>{{profile.nombre}}</strong>
        {{/power-select}}
      {{/if}}
      {{!-- Filtro por distrito --}}
      {{#if pagedContent.firstObject.filterDistrito}}
        <p>Elige tu distrito:</p>
        {{#power-select
          class="w-100"
          options=model
          selected=profile
          searchField="nombre"
          onchange=(action "toProfile")
        as |profile|}}
          <strong>{{profile.nombre}}</strong>
        {{/power-select}}
      {{/if}}
    </div>
  </div>
</div>

<div class="w-100  bg-primary text-white">
  {{!-- Sección de tipo --}}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 py-3 d-flex">
        <img
          src={{asset-map (concat "img/icono-" model.firstObject.type ".png") }}
          alt="Icono {{model.firstObject.electionName}}"
          height="50px"
          width="auto">
        <h5 class="my-auto mx-3">{{model.firstObject.electionName}}</h5>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid bg-light py-4">

  {{!-- Portofolio --}}
  <div class="row">
    <div class="col-10 offset-1">
      <div id="portfolio" class="portfolio clearfix my-4">
        {{#each pagedContent as |profile|}}
          <article class="item {{profile.selector}} text-center">
            <div class="background bg-white">

              <div class="image">
                {{#link-to "perfil" profile.typeCommonName profile.id}}
                  <img alt={{profile.cargoNombreCompleto}} src={{profile.fotoPerfil}}>
                {{/link-to}}
              </div>

              <div class="text-center w-75 mx-auto px-auto">
                <h6>{{profile.nombre}}</h6>
                <h6 class="font-weight-light">{{profile.electionName}}</h6>
              </div>

              <div class="image-party">
                <img src={{profile.partido.logo}} alt={{profile.partido.nombreCorto}}>
              </div>

            </div>
          </article>
        {{/each}}
      </div>
    </div>
  </div>

  {{!-- Pagination numbers --}}
  <div class="row">
    <div class="col-4 offset-4 text-center">
      {{page-numbers content=pagedContent}}
    </div>
  </div>
</div>
