<div class="container py-5">
  {{!-- Ember Power Select --}}
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <h4>{{config.title}}</h4>
      {{#power-select
        options=profiles
        selected=profile
        placeholder="Busca por nombre a tu candidato (ta)"
        searchField="nombre"
        onchange=(action "toProfile")
      as |profile|}}
        <strong>{{profile.nombre}}</strong>
      {{/power-select}}
    </div>
  </div>
  {{!-- Filtros --}}
  <div class="row justify-content-center filtros-perfiles">
    <div class="col-12 col-md-8">
      {{!-- Filtro por departamento y municipal--}}
      {{#if config.filterDepartament}}
        {{!-- Departamento --}}
        <p>Elige tu departamento:</p>
        {{#power-select
          allowClear="true"
          options=departamentos
          selected=departamento
          placeholder="Departamento"
          onchange=(action (mut departamento))
        as |profile|}}
          <strong>{{profile}}</strong>
        {{/power-select}}
        {{!-- Municipio --}}
        <p>Elige tu municipio:</p>
        {{#power-select
          options=municipios
          selected=municipio
          placeholder="Municipio"
          onchange=(action (mut municipio))
        as |profile|}}
          <strong>{{profile}}</strong>
        {{/power-select}}
      {{/if}}
      {{!-- Filtro por distrito --}}
      {{#if config.filterDistrito}}
        <p>Elige tu distrito:</p>
        {{#power-select
          options=profiles
          selected=profile
          placeholder="Distrito"
          searchField="nombre"
          onchange=(action "toProfile")
        as |profile|}}
          <strong>{{profile.nombre}}</strong>
        {{/power-select}}
      {{/if}}
    </div>
  </div>
</div>

<div class="w-100  bg-primary text-white">
  {{!-- Sección de tipo --}}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 py-3 d-flex">
        <img
          src={{asset-map (concat "img/icono-" config.type ".png") }}
          alt="Icono {{config.electionName}}"
          height="50px"
          width="auto">
        <h5 class="my-auto mx-3">{{config.electionName}}</h5>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid bg-light py-4">

  {{!-- Portofolio --}}
  <div class="row">
    <div class="col-10 offset-1">
      <div id="portfolio" class="portfolio clearfix my-4">
        {{#each pagedContent as |profile|}}
          {{item-portfolio profile=profile}}
        {{/each}}
      </div>
    </div>
  </div>

  {{!-- Pagination numbers --}}
  <div class="row">
    <div class="col-4 offset-4 text-center">
      {{page-numbers content=pagedContent}}
    </div>
  </div>
</div>
