<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 py-5 text-center">
      <h2>Hospitales - Red de Servicios de Salud-COVID19</h2>
      <p class="mt-3">
        En este apartado podrás encontrar información básica de la red hospitalaria del MSPAS, Laboratorio Nacional de Salud y en los próximos días estaremos actualizando información relativa a la Unidad Ejecutora 201 (Planta Central) y los hospitales móviles que servirán para la emergencia de COVID 2019.
      </p>
      <PowerSelect
        @placeholder="Busqueda"
        @searchEnabled={{true}}
        @searchField="nombre"
        @options={{model}}
        @onChange={{action "toProfile"}} as |profile|>
        {{profile.nombre}}
      </PowerSelect>
      {{#if (eq model.firstObject._internalModel.modelName "profile")}}
        <PowerSelect
          class="my-auto ml-2 w-100"
          @placeholder="Filtrar por institución"
          @searchEnabled={{true}}
          @searchField="nombre"
          @allowClear="true"
          @selected={{this.inInstitution}}
          @options={{this.institutions}}
          @onChange={{action (mut this.inInstitution)}} as |profile|>
          {{profile.nombre}}
        </PowerSelect>
        <nav class="nav justify-content-center">
          <div class="input-group nav-item bg-light rounded-pill px-3 py-2 w-auto mx-2">
            <label class="my-auto" for="isMujer">Mujer</label>
            <Input class="my-auto ml-2" @type="checkbox" @checked={{this.isMujer}} />
          </div>
          <div class="input-group nav-item bg-light rounded-pill px-3 py-2 w-auto mx-2">
            <label class="my-auto" for="isVaron">Hombre</label>
            <Input class="my-auto ml-2" @type="checkbox" @checked={{this.isVaron}} />
          </div>
        </nav>
      {{/if}}
      {{#if (eq model.firstObject._internalModel.modelName "institution")}}
        <PowerSelect
          class="my-auto ml-2 w-100"
          @placeholder="Filtrar por departamento"
          @searchEnabled={{true}}
          @allowClear="true"
          @selected={{this.inDepartamento}}
          @options={{this.departamentos}}
          @onChange={{action (mut this.inDepartamento)}} as |departamento|>
          {{departamento}}
        </PowerSelect>
      {{/if}}
    </div>
  </div>
</div>

<Portfolio
  @bg="light"
  @profiles={{this.profiles}}
  />

<div class="w-100 bg-light py-5">
  <div class="container">
    <div class="row text-center">
      <div class="mx-auto">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <button class="page-link" href="#" aria-label="Previous" {{on "click" this.prevPage}}>
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </button>
            </li>
            {{#each this.pages as |page|}}
              <li class="page-item {{if (eq this.page page) "active"}}">
                <button class="page-link" {{on "click" (fn this.selectPage page)}}>
                  {{page}}
                </button>
              </li>
            {{/each}}
            <li class="page-item">
              <button class="page-link" href="#" aria-label="Next" {{on "click" this.nextPage}}>
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
