<div class="w-100">
  <div class="container py-4">
    <div class="row">
      <div class="col-12">
        <h1>Prioridades MSPAS COVID 19</h1>
        <p>
          En esta apartado encontrará documentación oficial sobre las necesidades y prioridades que oficialmente el MSPAS publicó para fortalecer capacidades en las acciones de contención y mitigación de COVID 19. Encontrará información relativa a medicamentos, insumos médico quirúrgico, recursos humanos y entre otros que servirán para fortalecer la red hospitalaria y los hospitales móviles para la atención de COVID 19.
        </p>
      </div>
      <div class="col-12 py-4 border-top text-left d-flex">
        <img src="img/icono-2.png" alt="Tiempo" height="30px" width="auto" class="mr-3 my-auto">
        <div>
            <h6>Actualizado el: {{this.Fecha.dato}}</h6>
            <small class="text-muted">Fuente: {{this.Fuente.dato}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-100 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 p-0 border shadow-sm bg-white rounded pills mt-4">
        <BsNav
          @type="pills"
          @justified={{false}}
          @stacked={{false}}
          @fill={{false}}
        as |nav|>
          <nav.item>
            {{scroll-to
              class="nav-link active p-0 pointer"
              label='Protección de personal'
              target='#protecciónDePersonal'
              tagName='a'
              duration=1000
            }}
          </nav.item>
          <nav.item>
            {{scroll-to
              class="nav-link p-0 pointer"
              label='Hospital aislamiento'
              target='#hospitalAislamiento'
              tagName='a'
              duration=1000
            }}
          </nav.item>
          <nav.item>
            {{scroll-to
              class="nav-link p-0 pointer"
              label='Hospital parque industria'
              target='#hospitalParqueIndustria'
              tagName='a'
              duration=1000
            }}
          </nav.item>
          <nav.item>
            {{scroll-to
              class="nav-link p-0 pointer"
              label='Medicamentos'
              target='#medicamentos'
              tagName='a'
              duration=1000
            }}
          </nav.item>
          <nav.item class="ml-auto p-3 d-none d-md-flex"></nav.item>
        </BsNav>
      </div>
      <div class="col-12">
        <h3 id="protecciónDePersonal" class="w-100 bg-secondary text-white m-0 px-4 py-2 mt-4">
          Protección de Personal
        </h3>
        <div class="table-responsive thead-primary mb-2">
          <EmberTable class="table table-striped border" as |t|>
            <t.head
              @columns={{this.columns}}
              @sorts={{this.sorts1}}

              @onUpdateSorts={{action (mut this.sorts1)}}
            as |h|>
              <h.row as |r|>
                <r.cell as |column|>
                  {{#if (eq column.name "Categoria")}}
                    <img src="img/icono-4.png" alt="Lista" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Equipos")}}
                    <img src="img/icono-5.png" alt="Botiquín" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Unidades")}}
                    <img src="img/icono-6.png" alt="Lista" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{column.name}}
                </r.cell>
              </h.row>
            </t.head>
            <t.body @rows={{rows1}} />
          </EmberTable>
        </div>
        <h3 id="hospitalAislamiento" class="w-100 bg-secondary text-white m-0 px-4 py-2">
          Hospital Aislamiento
        </h3>
        <div class="table-responsive thead-primary mb-2">
          <EmberTable class="table table-striped border" as |t|>
            <t.head
              @columns={{this.columns}}
              @sorts={{this.sorts2}}

              @onUpdateSorts={{action (mut this.sorts2)}}
            as |h|>
              <h.row as |r|>
                <r.cell as |column|>
                  {{#if (eq column.name "Categoria")}}
                    <img src="img/icono-4.png" alt="Lista" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Equipos")}}
                    <img src="img/icono-5.png" alt="Botiquín" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Unidades")}}
                    <img src="img/icono-6.png" alt="Lista" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{column.name}}
                </r.cell>
              </h.row>
            </t.head>
            <t.body @rows={{rows2}} />
          </EmberTable>
        </div>
        <h3 id="hospitalParqueIndustria" class="w-100 bg-secondary text-white m-0 px-4 py-2">
          Hospital parque industria
        </h3>
        <div class="table-responsive thead-primary mb-2">
          <EmberTable class="table table-striped border" as |t|>
            <t.head
              @columns={{this.columns}}
              @sorts={{this.sorts3}}

              @onUpdateSorts={{action (mut this.sorts3)}}
            as |h|>
              <h.row as |r|>
                <r.cell as |column|>
                  {{#if (eq column.name "Categoria")}}
                    <img src="img/icono-4.png" alt="Lista" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Equipos")}}
                    <img src="img/icono-5.png" alt="Botiquín" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Unidades")}}
                    <img src="img/icono-6.png" alt="Lista" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{column.name}}
                </r.cell>
              </h.row>
            </t.head>
            <t.body @rows={{rows3}} />
          </EmberTable>
        </div>
        <h3 id="medicamentos" class="w-100 bg-secondary text-white m-0 px-4 py-2">
          Medicamentos
        </h3>
        <div class="table-responsive thead-primary mb-2">
          <EmberTable class="table table-striped border" as |t|>
            <t.head
              @columns={{this.columns}}
              @sorts={{this.sorts4}}

              @onUpdateSorts={{action (mut this.sorts4)}}
            as |h|>
              <h.row as |r|>
                <r.cell as |column|>
                  {{#if (eq column.name "Categoria")}}
                    <img src="img/icono-4.png" alt="Lista" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Equipos")}}
                    <img src="img/icono-5.png" alt="Botiquín" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{#if (eq column.name "Unidades")}}
                    <img src="img/icono-6.png" alt="Lista" height="35px" width="auto" class="mr-2">
                  {{/if}}
                  {{column.name}}
                </r.cell>
              </h.row>
            </t.head>
            <t.body @rows={{rows4}} />
          </EmberTable>
        </div>
      </div>
    </div>
  </div>
</div>