<div class="container-fluid py-4 bg-light">
  {{!-- Portofolio --}}
  <div class="row">
    <div class="col-10 offset-1">
      <div id="portfolio" class="portfolio clearfix my-4">
        {{#each model as |institution|}}
          <article class="item {{institution.selector}}">
            <div class="background bg-white rounded">
              <div class="image">
                {{#link-to "institucion" institution.id}}
                  <img alt={{institution.name}} src={{institution.photo}}>
                {{/link-to}}
              </div>

              <div class="text">
                <div class="text-name">
                  <h6>{{institution.name}}</h6>
                </div>
              </div>

            </div>
          </article>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{outlet}}